<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> <span translate>CATEGORY_LIST</span></h3>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ui-grid="categoryGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
			 translate>REMOVE_SELECTED</button>
			<button type="button" class="btn btn-default" ng-click="categoryCreate()" translate>NEW_CATEGORY</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="panel panel-default" uib-collapse="!currentCategory">
	<div class="panel-heading">
		<div class="panel-title" translate>CATEGORY_DETAILS</div>
	</div>
	<div class="panel-body">
		<form>
			<div class="row">
				<div class="col-xs-12">
					<label for="name" class="control-label" translate>NAME</label>
					<input type="text" id="name" class="form-control" ng-model="currentCategory.name" placeholder="{{ 'NAME' | translate }}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<label for="description" class="control-label" translate>DESCRIPTION</label>
					<textarea id="description" class="form-control" ng-model="currentCategory.description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
				</div>
			</div>

			<div class="row" ng-show="currentCategory.children.length == 0">
				<div class="col-sm-6">
					<label for="parent_id" class="control-label" translate>PARENT</label>
					<div class="input-group">
						<select id="parent_id" class="form-control" ng-options="c as c.name for c in (categories | filter: { name: '!' + currentCategory.name, parent: null } : true) track by c.id"
						 ng-model="currentCategory.parent">
						</select>
						<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="deselectParent()">&times;</button></span>
					</div>
				</div>
				<div class="col-sm-6">
					<label for="active" class="control-label" translate>ACTIVE</label>
					<select id="permanent" class="form-control" ng-options="v.value as v.text for v in optionsActive" ng-model="currentCategory.active"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button type="button" class="btn btn-default" ng-click="saveCategory(currentCategory)" translate>SAVE</button>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">&nbsp;</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title" translate>TAGS</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12">
						<add-select data="currentCategory.tagged" selected="selectedTags" field="tag_name"></add-select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">&nbsp;</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-right">
						<button type="button" class="btn btn-default" ng-click="saveTags()" translate>SAVE</button>
					</div>
				</div>
			</div>
		</div>


	</div>

</div>