<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> <span translate>DISCOUNT_LIST</span></h3>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ui-grid="discountGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
			 translate>REMOVE_SELECTED</button>
			<button type="button" class="btn btn-default" ng-click="discountCreate()" translate>NEW_DISCOUNT</button>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="panel panel-default" uib-collapse="!currentDiscount">
	<div class="panel-heading">
		<div class="panel-title" translate>DISCOUNT_DETAILS</div>
	</div>
	<div class="panel-body">
		<form>
			<div class="row">
				<div class="col-xs-12">
					<label for="name" translate>NAME</label>
					<input type="text" id="name" class="form-control" ng-model="currentDiscount.name" placeholder="{{ 'NAME' | translate }}">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<label for="type" translate>TYPE</label>
					<select id="type" class="form-control" ng-options="v.value as v.text for v in options" ng-model="currentDiscount.type"></select>
				</div>
				<div class="col-sm-4">
					<label for="ammount" translate>AMMOUNT</label>
					<input type="text" id="ammount" class="form-control" ng-model="currentDiscount.ammount" placeholder="{{ 'AMMOUNT' | translate }}">
				</div>
				<div class="col-sm-4">
					<label for="permanent" translate>PERMANENT</label>
					<select id="permanent" class="form-control" ng-options="v.value as v.text for v in optionsPermanent" ng-model="currentDiscount.permanent"></select>
				</div>
			</div>
			<div class="row" uib-collapse="currentDiscount.permanent">
				<div class="col-sm-6">
					<label for="start_date" translate>START_DATE</label>
					<input type="text" bs-datepicker class="form-control" name="start_date" ng-model="currentDiscount.start_date">
				</div>
				<div class="col-sm-6">
					<label for="end_date" translate>END_DATE</label>
					<input type="text" bs-datepicker class="form-control" name="end_date" ng-model="currentDiscount.end_date">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button type="button" class="btn btn-default" ng-click="saveDiscount(currentDiscount)" translate>SAVE</button>
				</div>
			</div>
		</form>
	</div>


</div>