<div class="page-header">
    <h3><span class="glyphicon glyphicon-hdd"></span> <span translate>IMPORT_PRODUCTS</span></h3>
</div>

<uib-tabset active="activeTab">
    <uib-tab index="0" heading="{{ 'IMPORT' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate>LOAD_FILE</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="nodes" translate>SUPERIOR_NODES</label>
                        <input id="nodes" class="form-control input-lg" type="text" ng-model="nodes.sup" aria-describedby="nodesHelpBlock">
                        <p id="nodesHelpBlock" class="form-text text-muted" translate>SUP_NODES_INFO</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="upload" uib-collapse="busy" translate>LOAD_FILE</label>
                        <div id="upload" uib-collapse="busy" class="row">
                            <div class="col-xs-12">
                                <!--<div ngf-select="uploadFile($files)" ngf-drop="uploadFile($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                                    ngf-pattern="'.xml,.xls,.xlsx,.csv/*,*,*,*'" translate>IMPORT_UPLOAD</div>
                                <div ngf-no-file-drop translate>DD_NOT_SUPPORTED</div>-->

                                <div ngf-select="uploadFile($files)" ngf-drop="uploadFile($files)" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                                    ngf-pattern="'.xml,.xls,.xlsx,.csv/*,*,*,*'">
                                    <div class="row text-muted">
                                        <div class="col-xs-12 text-center"><span class="lead glyphicon glyphicon-arrow-down gi-3x"></span></div>
                                        <div class="col-xs-12 text-center"><span class="lead" translate>IMPORT_UPLOAD</span></div>
                                    </div>
                                </div>
                                <div ngf-no-file-drop translate>DD_NOT_SUPPORTED</div>

                            </div>
                        </div>
                        <p ng-show="file.client"><span translate>LOADED_FILE</span>: {{file.client}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div uib-collapse="!file.fields" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" translate>DB_FIELDS_FORMATTING</h3>
            </div>
            <div class="panel-body">
                <p translate>DB_FIELDS_FORMATTING_INFO</p>
                <div class="row">
                    <div class="col-md-6">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title" translate>
                                    DATABASE_FIELDS
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" translate>NAME</label>
                                        <input id="name" class="form-control input-lg" type="text" ng-model="file.fields_format.name" drop-text drop-text-prefix="">
                                        <label for="description" translate>DESCRIPTION</label>
                                        <input id="description" class="form-control input-lg" type="text" ng-model="file.fields_format.description" drop-text drop-text-prefix="">
                                        <label for="price" translate>PRICE</label>
                                        <input id="price" class="form-control input-lg" type="text" ng-model="file.fields_format.price" drop-text drop-text-prefix="">
                                        <label for="stock" translate>STOCK</label>
                                        <input id="stock" class="form-control input-lg" type="text" ng-model="file.fields_format.stock" drop-text drop-text-prefix="">
                                        <label for="reference" translate>REFERENCE</label>
                                        <input id="reference" class="form-control input-lg" type="text" ng-model="file.fields_format.reference" drop-text drop-text-prefix="">
                                        <label for="category" translate>CATEGORY</label>
                                        <input id="category" class="form-control input-lg" type="text" ng-model="file.fields_format.category" drop-text drop-text-prefix="">
                                        <label for="code" translate>CODE</label>
                                        <input id="code" class="form-control input-lg" type="text" ng-model="file.fields_format.code" drop-text drop-text-prefix="">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ean" translate>EAN</label>
                                        <input id="ean" class="form-control input-lg" type="text" ng-model="file.fields_format.ean" drop-text drop-text-prefix="">
                                        <label for="trading_price" translate>TRADING_PRICE</label>
                                        <input id="trading_price" class="form-control input-lg" type="text" ng-model="file.fields_format.trading_price" drop-text
                                            drop-text-prefix="">
                                        <label for="units_per_pack" translate>UNITS_PER_PACK</label>
                                        <input id="units_per_pack" class="form-control input-lg" type="text" ng-model="file.fields_format.units_per_pack" drop-text
                                            drop-text-prefix="">
                                        <label for="manufacturer" translate>MANUFACTURER</label>
                                        <input id="manufacturer" class="form-control input-lg" type="text" ng-model="file.fields_format.manufacturer" drop-text drop-text-prefix="">
                                        <label for="discontinued" translate>DISCONTINUED</label>
                                        <input id="discontinued" class="form-control input-lg" type="text" ng-model="file.fields_format.discontinued" drop-text drop-text-prefix="">

                                        <label for="image_url" translate>IMAGE_URL</label>
                                        <input id="image_url" class="form-control input-lg" type="text" ng-model="file.fields_format.image_url" drop-text drop-text-prefix="">
                                        <label for="small_image_url" translate>SMALL_IMAGE_URL</label>
                                        <input id="small_image_url" class="form-control input-lg" type="text" ng-model="file.fields_format.small_image_url" drop-text
                                            drop-text-prefix="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <span translate>USER_DEFINED_VARIABLES</span>
                                    <button type="button" class="btn btn-link" ng-click="setActiveTab(2)" uib-tooltip="{{ 'EDIT_VARIABLES' | translate }}"><span class="glyphicon glyphicon-cog gi-1-5x"></span></button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="draggable-objects">
                                    <li ng-repeat="variable in importVariables">
                                        <div ng-drag="true" ng-drag-data="'@' + variable.name" data-allow-transform="true" class="bg-warning" uib-tooltip="{{ variable.value }}">
                                            {{variable.name}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title" translate>
                                    FILE_FIELDS
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="draggable-objects">
                                    <li ng-repeat="field in file.fields">
                                        <div ng-drag="true" ng-drag-data="':' + field" data-allow-transform="true" class="bg-info"> {{field}} </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" ng-click="parseFile(file)" ng-disabled="busy" translate>PARSE_FILE</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="products && !busy" class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title" translate>PRODUCTS_TO_IMPORT</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12" ng-disabled="busy">
                        <p translate>PRODUCTS_TO_IMPORT_INFO</p>
                        <div ng-if="activeTab == 0" ui-grid="importGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination
                            class="grid"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button class="btn btn-default" ng-click="deleteSelected()" ng-disabled="busy" translate>REMOVE_SELECTED</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="products && !busy">
            <div class="col-xs-12">
                <uib-accordion close-others="false">
                    <div uib-accordion-group class="panel-default" heading="{{ 'TAXES' | translate }}">
                        <doubleselect items="taxList" selected-items="taxes"></doubleselect>
                    </div>
                    <div uib-accordion-group class="panel-default" heading="{{ 'DISCOUNTS' | translate }}">
                        <doubleselect items="discountList" selected-items="discounts"></doubleselect>
                    </div>
                </uib-accordion>
            </div>
        </div>

        <div class="row" ng-if="products">
            <div ng-repeat="(listName, list) in operations.lists" class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span translate>CURRENT_OPERATIONS</span> <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'CURRENT_OP_INFO' | translate }}"></span></h3>
                    </div>
                    <div class="panel-body" dnd-list="list">
                        <div class="panel panel-default" ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move"
                            dnd-selected="operations.selected = item" ng-class="{'selected': operations.selected === item}">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <small class="panel-title"><span translate>{{item.label}}</span><span ng-show="item.field"> ({{item.field}})</span></small>
                                    </div>
                                    <div class="col-xs-2 text-right">
                                        <a ng-show="!item.opened" href="" ng-click="item.opened = true"><span class="glyphicon glyphicon-menu-down"></span></a>
                                        <a ng-show="item.opened" href="" ng-click="item.opened = false"><span class="glyphicon glyphicon-menu-up"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" ng-show="item.opened" ng-include="item.type + '.html'">
                                <!--<input dnd-nodrag type="text" class="form-control" ng-model="item.label">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span translate>OPERATIONS</span> <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OPERATIONS_INFO' | translate }}"></span></h3>
                    </div>
                    <div class="panel-body" dnd-list="[]">
                        <div type="button" class="btn btn-default btn-block" ng-repeat="item in operations.templates" dnd-draggable="item" dnd-effect-allowed="copy"
                            dnd-selected="operations.selected = item" dnd-copied="item.id = item.id + 1" ng-class="{'selected': operations.selected === item}"
                            tooltip-append-to-body="true" uib-tooltip="{{ 'OP_' + item.label | translate }}" translate>{{ item.label }}</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span translate>SAVED_OPERATIONS</span> <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'SAVED_OPERATIONS_INFO' | translate }}"></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <select ng-model="operation" ng-options="op as op.name for op in operationList" class="form-control"></select>
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="deleteOperation(operation)"><span class="glyphicon glyphicon-trash"></span></button>
                            </span>
                        </div>
                        <div ng-show="operation" class="btn btn-default btn-block" dnd-draggable="operation" dnd-effect-allowed="copy" dnd-copied="operation.id = operation.id + 1"
                            tooltip-append-to-body="true" uib-tooltip="{{ 'OP_' + operation.label | translate }}" translate>{{ operation.name }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="products" class="row">
            <div class="col-xs-12 text-right">
                <button class="btn btn-primary btn-md" ng-disabled="busy" uib-popover-template="'confirm_import.html'" popover-title="{{ 'IMPORT' | translate }}"
                    popover-placement="top-right" popover-trigger="'outsideClick'" translate>IMPORT</button>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="1" heading="{{ 'SETTINGS' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <span translate>REMOVE_OLD_IMAGES</span>
                <div class="material-switch pull-right">
                    <input id="remove_old_images" type="checkbox" ng-model="importSettings.remove_old_images" ng-true-value="'1'" ng-false-value="'0'">
                    <label for="remove_old_images" class="label-primary"></label>
                </div>
            </li>
            <li class="list-group-item">
                <span translate>CLEAN_CATEGORIES</span>
                <div class="material-switch pull-right">
                    <input id="clean_cateogires" type="checkbox" ng-model="importSettings.clean_categories" ng-true-value="'1'" ng-false-value="'0'">
                    <label for="clean_cateogires" class="label-primary"></label>
                </div>
            </li>
            <li class="list-group-item">
                <span translate>REMOVE_OLD_TAXES</span>
                <div class="material-switch pull-right">
                    <input id="remove_old_taxes" type="checkbox" ng-model="importSettings.remove_old_taxes" ng-true-value="'1'" ng-false-value="'0'">
                    <label for="remove_old_taxes" class="label-primary"></label>
                </div>
            </li>
            <li class="list-group-item">
                <span translate>REMOVE_OLD_DISCOUNTS</span>
                <div class="material-switch pull-right">
                    <input id="remove_old_discounts" type="checkbox" ng-model="importSettings.remove_old_discounts" ng-true-value="'1'" ng-false-value="'0'">
                    <label for="remove_old_discounts" class="label-primary"></label>
                </div>
            </li>
        </ul>
    </uib-tab>

    <uib-tab index="2" heading="{{ 'VARIABLES' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-if="activeTab == 2" ui-grid="variablesGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="variablesGridApi.selection.getSelectedCount() == 0" ng-click="deleteSelectedVariables()"
                        translate>REMOVE_SELECTED</button>
                    <button type="button" class="btn btn-default" ng-click="createVariable()" translate>NEW_VARIABLE</button>
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab index="3" heading="{{ 'PROFILES_MANAGEMENT' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span translate>IMPORT_PROFILES</span>
                    <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'IMPORT_PROFILES_INFO' | translate }}"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <select class="form-control input-lg" type="text" ng-model="selectedProfile" ng-options="p.name for p in profiles track by p.id"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn btn-default" ng-click="deleteProfile(selectedProfile)" translate>DELETE_PROFILE</button>
                        <button type="button" class="btn btn-success" ng-click="loadProfile(selectedProfile)" translate>LOAD_PROFILE</button>
                    </div>
                </div>
            </div>
        </div>

        <div uib-collapse="!file.fields" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span translate>SAVE_IMPORT_PROFILE</span>
                    <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'SAVE_IMPORT_PROFILES_INFO' | translate }}"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="profileName" translate>PROFILE_NAME</label>
                        <input id="profileName" class="form-control input-lg" type="text" ng-model="profileName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn btn-success" ng-click="saveProfile(profileName, nodes.sup, file.fields_format, operations.lists.current, importSettings, taxes, discounts)"
                            translate>SAVE_PROFILE</button>
                    </div>
                </div>
            </div>
        </div>

    </uib-tab>

    <uib-tab index="4" heading="{{ 'HELP' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>

        <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" heading="{{ 'IMPORT_HELP_OVERVIEW_TITLE' | translate }}">
                <p translate>IMPORT_HELP_OVERVIEW</p>
            </div>
            <div uib-accordion-group class="panel-default" heading="{{ 'IMPORT_HELP_SUPNODES_TITLE' | translate }}">
                <p translate>IMPORT_HELP_SUPNODES</p>
            </div>
            <div uib-accordion-group class="panel-default" heading="{{ 'IMPORT_HELP_ALLOWED_TITLE' | translate }}">
                <p translate>IMPORT_HELP_ALLOWED</p>
            </div>
        </uib-accordion>

    </uib-tab>

</uib-tabset>







<!--TEMPLATES-->

<script type="text/ng-template" id="confirm_import.html">
    <p translate>IMPORT_CONFIRM</p>
    <div class="btn-group">
        <button type="button" class="btn btn-success" ng-click="setActiveTab(3)" translate>SAVE_PROFILE</button>
        <button type="button" class="btn btn-primary" ng-click="importProducts()" translate>IMPORT</button>
    </div>
</script>


<script type="text/ng-template" id="filter.html">
    <div class="row" dnd-nodrag>
        <div class="col-sm-6">
            <label for="name_filter_{{item.id}}" translate>NAME</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_NAME_INFO' | translate }}"></span>
            <input id="name_filter_{{item.id}}" type="text" class="form-control" ng-model="item.name">
        </div>
        <div class="col-sm-6">
            <label for="field_filter_{{item.id}}" translate>FIELD</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_FIL_FIELD_INFO' | translate }}"></span>
            <select id="field_filter_{{item.id}}" class="form-control" ng-options="f.field as f.displayName for f in importGridOptions.columnDefs"
                ng-model="item.field"></select>
        </div>
        <div class="col-sm-6">
            <label for="type_filter_{{item.id}}" translate>TYPE</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_FIL_TYPE_INFO' | translate }}"></span>
            <select id="type_filter_{{item.id}}" class="form-control" ng-options="t.key as t.name for t in filterTypes" ng-model="item.options.type"></select>
        </div>
        <div class="col-sm-6">
            <label for="value_filter_{{item.id}}" translate>VALUE</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_FIL_VALUE_INFO' | translate }}"></span>
            <div class="input-group">
                <input id="value_filter_{{item.id}}" class="form-control" type="text" ng-model="item.options.value">
                <span class="input-group-addon">
                    <div class="checkbox-inline">
                        <label>
                        <input id="capsens_filter_{{item.id}}" class="form-check-input" type="checkbox" ng-model="item.options.capsens"> <span translate>CAPSENS</span>
                </label>
            </div>
            </span>
        </div>

    </div>
    </div>
</script>

<script type="text/ng-template" id="replace.html">
    <div class="row" dnd-nodrag>
        <div class="col-sm-6">
            <label for="name_replace_{{item.id}}" translate>NAME</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_NAME_INFO' | translate }}"></span>
            <input id="name_replace_{{item.id}}" type="text" class="form-control" ng-model="item.name">
        </div>
        <div class="col-sm-6">
            <label for="field_replace_{{item.id}}" translate>FIELD</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_REP_FIELD_INFO' | translate }}"></span>
            <select id="field_replace_{{item.id}}" class="form-control" ng-options="f.field as f.displayName for f in importGridOptions.columnDefs"
                ng-model="item.field"></select>
        </div>
        <div class="col-sm-6">
            <label for="replace_replace_{{item.id}}" translate>REPLACE</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_REP_REPLACE_INFO' | translate }}"></span>
            <input id="replace_replace_{{item.id}}" class="form-control" type="text" ng-model="item.options.replace">
        </div>
        <div class="col-sm-6">
            <label for="find_replace_{{item.id}}" translate>FIND</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_REP_FIND_INFO' | translate }}"></span>
            <div class="input-group">
                <input id="find_replace_{{item.id}}" class="form-control" type="text" ng-model="item.options.find">
                <span class="input-group-addon">
                    <div class="checkbox-inline">
                        <label>
                        <input id="capsens_replace_{{item.id}}" class="form-check-input" type="checkbox" ng-model="item.options.capsens"> <span translate>CAPSENS</span>
                </label>
            </div>
            </span>
        </div>
    </div>

    </div>
</script>

<script type="text/ng-template" id="substring.html">
    <div class="row" dnd-nodrag>
        <div class="col-sm-6">
            <label for="name_substring_{{item.id}}" translate>NAME</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_NAME_INFO' | translate }}"></span>
            <input id="name_substring_{{item.id}}" type="text" class="form-control" ng-model="item.name">
        </div>
        <div class="col-sm-6">
            <label for="field_substring_{{item.id}}" translate>FIELD</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_SUB_FIELD_INFO' | translate }}"></span>
            <select id="field_substring_{{item.id}}" class="form-control" ng-options="f.field as f.displayName for f in importGridOptions.columnDefs"
                ng-model="item.field"></select>
        </div>
        <div class="col-sm-6">
            <label for="length_substring_{{item.id}}" translate>LENGTH</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_SUB_LENGTH_INFO' | translate }}"></span>
            <input id="length_substring_{{item.id}}" class="form-control" type="number" ng-model="item.options.length">
        </div>
        <div class="col-sm-6">
            <label for="start_substring_{{item.id}}" translate>START</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_SUB_START_INFO' | translate }}"></span>
            <div class="input-group">
                <input id="start_substring_{{item.id}}" class="form-control" type="text" ng-model="item.options.start" ng-change="startChange(item)">
                <span class="input-group-addon">
                    <div class="checkbox-inline" horizontal uib-collapse="item.options.startIsNumber" uib-tooltip="{{ 'OP_SUB_ISTART_INFO' | translate }}">
                        <label>
                            <input id="includestart_substring_{{item.id}}" class="form-check-input" type="checkbox" ng-model="item.options.includestart"> <span translate>INCLUDE_START</span>
                </label>
            </div>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="end_substring_{{item.id}}" translate>END</label>
        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_SUB_END_INFO' | translate }}"></span>
        <div class="input-group">
            <input id="end_substring_{{item.id}}" class="form-control" type="text" ng-model="item.options.end" ng-disabled="item.options.length"
                ng-change="endChange(item)">
            <span class="input-group-addon">
                    <div class="checkbox-inline" horizontal uib-collapse="item.options.endIsNumber" uib-tooltip="{{ 'OP_SUB_IEND_INFO' | translate }}">
                        <label ng-class="{ 'text-muted' : item.options.length }">
                        <input id="includeend_substring_{{item.id}}" class="form-check-input" type="checkbox" ng-model="item.options.includeend" ng-disabled="item.options.length"> <span translate>INCLUDE_END</span>
            </label>
        </div>
        </span>
    </div>
    </div>
    <div class="col-sm-6">
        <label for="iterations_substring_{{item.id}}" translate>ITERATIONS</label>
        <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_SUB_ITERATIONS_INFO' | translate }}"></span>
        <input id="iterations_substring_{{item.id}}" class="form-control" type="number" ng-model="item.iterations">
    </div>
    <div class="col-sm-6" uib-collapse="item.options.startIsNumber && item.options.endIsNumber">
        <label translate>CAPSENS</label>
        <div class="input-group" uib-tooltip="{{ 'OP_SUB_CAPSENS_INFO' | translate }}">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="item.options.capsens" uib-btn-radio="false" translate>NO</label>
                <label class="btn btn-default" ng-model="item.options.capsens" uib-btn-radio="true" translate>YES</label>
            </div>
        </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="array.html">
    <div class="row" dnd-nodrag>
        <div class="col-sm-6">
            <label for="name_array_{{item.id}}" translate>NAME</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_NAME_INFO' | translate }}"></span>
            <input id="name_array_{{item.id}}" type="text" class="form-control" ng-model="item.name">
        </div>
        <div class="col-sm-6">
            <label for="field_array_{{item.id}}" translate>FIELD</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_ARR_FIELD_INFO' | translate }}"></span>
            <select id="field_array_{{item.id}}" class="form-control" ng-options="f.field as f.displayName for f in importGridOptions.columnDefs"
                ng-model="item.field"></select>
        </div>
        <div class="col-sm-6">
            <label for="type_array_{{item.id}}" translate>TYPE</label>
            <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'OP_ARR_TYPE_INFO' | translate }}"></span>
            <select id="type_array_{{item.id}}" class="form-control" ng-options="t.key as t.name for t in arrayTypes" ng-model="item.options.type"></select>
        </div>
        <div class="col-sm-6" ng-show="item.options.type == 'join'">
            <label for="separator_array_{{item.id}}" translate>SEPARATOR</label>
            <input id="separator_array_{{item.id}}" class="form-control" type="text" ng-model="item.options.separator">
        </div>
        <div class="col-sm-6" ng-show="['first', 'last'].indexOf(item.options.type) >= 0">
            <label translate>GODEEP</label>
            <div class="input-group" uib-tooltip="{{ 'OP_ARR_GODEEP_INFO' | translate }}">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="item.options.godeep" uib-btn-radio="false" translate>NO</label>
                    <label class="btn btn-default" ng-model="item.options.godeep" uib-btn-radio="true" translate>YES</label>
                </div>
            </div>
        </div>
    </div>
</script>