<style>
.gridProduct {
	margin-left: 2.5%;
	width: 700px;
	height: 400px;
}

.gridSizing {
	margin-left: 2.5%;
	width: 700px;
	height: 400px;
}

.gridSize {
	margin-left: 2.5%;
	width: 700px;
	height: 400px;
}
</style>
<h3 translate>INCREASE_LIST</h3>
<div ui-grid="productGridOptions" ui-grid-pagination class="gridProduct"></div>

<div ng-if="currentProduct && !currentProduct.sizings.length">
<p translate>NO_SIZINGS</p>
</div>
<div ng-if="currentProduct.sizings.length">
<h4>{{ 'SIZING_LIST' | translate }} ({{currentProduct.name}})</h4>
<div ui-grid="sizingGridOptions" ui-grid-pagination class="gridSizing"></div>
</div>

<div ng-if="currentSizing.sizes && currentSizing.sizes.length">
<h4>{{ 'SIZE_LIST' | translate }} ({{currentSizing.name}})</h4>
<div ui-grid="sizeGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-pagination class="gridSize"></div>
</div>