<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> <span translate>PRODUCT_LIST</span></h3>
</div>
<div class="row">
	<div class="col-xs-12">
		<div ui-grid="productGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination class="grid"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
			 translate>REMOVE_SELECTED</button>
			<button type="button" class="btn btn-default" ng-click="productCreate()" translate>NEW_PRODUCT</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>
<div uib-collapse="!currentProduct">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title" translate>PRODUCT_DETAILS</div>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="name" translate>NAME</label>
				<input type="text" id="name" class="form-control" ng-model="currentProduct.name" placeholder="{{ 'NAME' | translate }}">
			</div>

			<div class="form-group">
				<label for="category" translate>CATEGORY</label>
				<select id="category" class="form-control" ng-options="c.name for c in categoryList track by c.id" ng-model="currentProduct.category">
				</select>
			</div>

			<div class="form-group">
				<label for="description" translate>DESCRIPTION</label>
				<textarea id="description" cols="30" rows="10" class="form-control noresize" ng-model="currentProduct.description" ng-attr-placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="price" translate>PRICE</label>
						<input type="text" id="price" class="form-control" ng-model="currentProduct.price" placeholder="{{ 'PRICE' | translate }}">
					</div>
					<div class="form-group">
						<label for="trading_price" translate>TRADING_PRICE</label>
						<input type="text" id="trading_price" class="form-control" ng-model="currentProduct.trading_price" placeholder="{{ 'TRADING_PRICE' | translate }}">
					</div>
					<div class="form-group">
						<label for="reference" translate>REFERENCE</label>
						<input type="text" id="reference" class="form-control" ng-model="currentProduct.reference" placeholder="{{ 'REFERENCE' | translate }}">
					</div>
					<div ng-show="!currentProduct.sizings.length" class="form-group">
						<label for="stock" translate>STOCK</label>
						<input type="number" id="stock" class="form-control" ng-model="currentProduct.stock" placeholder="{{ 'STOCK' | translate }}">
					</div>
					<div class="form-group">
						<label for="units_per_pack" translate>UNITS_PER_PACK</label>
						<input type="text" id="units_per_pack" class="form-control" ng-model="currentProduct.units_per_pack" placeholder="{{ 'UNITS_PER_PACK' | translate }}">
					</div>
					<div class="form-group">
						<label for="code" translate>CODE</label>
						<input type="text" id="code" class="form-control" ng-model="currentProduct.code" placeholder="{{ 'CODE' | translate }}">
					</div>
					<div class="form-group">
						<label for="ean" translate>EAN</label>
						<input type="text" id="ean" class="form-control" ng-model="currentProduct.ean" placeholder="{{ 'EAN' | translate }}">
					</div>
					<div class="form-group">
						<label for="manufacturer" translate>MANUFACTURER</label>
						<input type="text" id="manufacturer" class="form-control" ng-model="currentProduct.manufacturer" placeholder="{{ 'MANUFACTURER' | translate }}">
					</div>
				</div>
				<div class="col-md-6">
					<uib-accordion close-others="false">
						<div uib-accordion-group class="panel-info" heading="{{ 'SIZINGS' | translate }}">
							<doubleselect items="sizingList" selected-items="currentProduct.sizings"></doubleselect>
						</div>
						<div uib-accordion-group class="panel-info" heading="{{ 'TAXES' | translate }}">
							<doubleselect items="taxList" selected-items="currentProduct.taxes"></doubleselect>
						</div>
						<div uib-accordion-group class="panel-info" heading="{{ 'DISCOUNTS' | translate }}">
							<doubleselect items="discountList" selected-items="currentProduct.discounts"></doubleselect>
						</div>
					</uib-accordion>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 text-right">
					<button type="button" class="btn btn-primary btn-lg" ng-click="updateProduct(currentProduct)" translate>SAVE</button>
				</div>
			</div>
		</div>
	</div>

	<div uib-collapse="!currentProduct.id" class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-picture-o" aria-hidden="true"></i> <span translate>IMAGES</span></h3>
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title" translate>CURRENT_IMAGES</div>
						</div>
						<div class="panel-body">
							<imagelist id="images" list="currentProduct.images" selected="selectedImages" current-image="currentImage" select-style="height:110px"></imagelist>
							<div class="row">
								<div class="col-xs-12">&nbsp;</div>
							</div>
							<div class="row" ng-show="currentImage">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="imgDescription" translate>DESCRIPTION</label>
										<input type="text" class="form-control" id="imgDescription" ng-model="currentImage.description" placeholder="{{ 'DESCRIPTION' | translate }}">
									</div>
									<div class="form-group">
										<label for="imgUrl" translate>URL</label>
										<div class="input-group">
											<input type="text" class="form-control" id="imgUrl" ng-model="currentImage.url" placeholder="{{ 'URL' | translate }}">
											<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-disabled="!currentImage.url" ng-click="openPreviewModal(currentImage.url)"><span class="glyphicon glyphicon-eye-open"></span></button>
											<button type="button" class="btn btn-default" ng-click="openUploadModal(currentImage, 'url')" translate>UPLOAD_IMAGE</button>
											</span>
										</div>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right">
									<div class="btn-group">
										<button type="button" class="btn btn-default" ng-disabled="!selectedImages.length" ng-click="deleteSelectedImage()" translate>REMOVE_SELECTED</button>
										<button class="btn btn-primary" ng-click="saveAllImages()" translate>SAVE_ALL</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-12">
							<button type="button" class="btn btn-block btn-default" ng-click="openNewImage()" ng-show="!newImage" translate>ADD_IMAGE</button>
						</div>
					</div>
					<div class="row" uib-collapse="!newImage">
						<div class="col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="panel-title" translate>
										ADD_IMAGE
									</div>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label for="imgDescription" translate>DESCRIPTION</label>
										<input type="text" class="form-control" id="imgDescription" ng-model="newImage.description" placeholder="{{ 'DESCRIPTION' | translate }}">
									</div>
									<div class="form-group">
										<label for="imgUrl" translate>URL</label>
										<div class="input-group">
											<input type="text" class="form-control" id="imgUrl" ng-model="newImage.url" placeholder="{{ 'URL' | translate }}">
											<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-disabled="!newImage.url" ng-click="openPreviewModal(newImage.url)"><span class="glyphicon glyphicon-eye-open"></span></button>
											<button type="button" class="btn btn-default" ng-click="openUploadModal(newImage, 'url')" translate>UPLOAD_IMAGE</button>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="imgUrl" translate>SMALL_URL</label>
										<div class="input-group">
											<input type="text" class="form-control" id="imgUrl" ng-model="newImage.small_url" placeholder="{{ 'SMALL_URL' | translate }}">
											<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-disabled="!newImage.small_url" ng-click="openPreviewModal(newImage.small_url)"><span class="glyphicon glyphicon-eye-open"></span></button>
											<button type="button" class="btn btn-default" ng-click="openUploadModal(newImage, 'small_url')" translate>UPLOAD_IMAGE</button>
											</span>
										</div>
									</div>
									<div class="form-group text-right">
										<button type="button" class="btn btn-default" ng-click="addImage()" translate>ADD</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div uib-collapse="!currentProduct.id" class="row">
		<div class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-tags" aria-hidden="true"></i> <span translate>TAGS</span></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group">
								<select ng-model="selectedTags" class="form-control" multiple>
									<option ng-repeat="tag in currentProduct.tagged" value="{{tag.tag_name}}">{{tag.tag_name}}</option>
								</select>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="deleteTags()">&times;</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="newTag" placeholder="{{ 'NEW_TAG' | translate }}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="addTag(newTag)" translate>ADD</button>	
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-right">
							<button type="button" class="btn btn-primary" ng-click="saveTags()" translate>SAVE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-info" ng-if="currentProduct.id">
		<div class="panel-heading">
			<div class="panel-title" translate>COLORS</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<div ng-if="currentProduct" ui-grid="colorGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav class="grid"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-right">
					<div class="btn-group">
						<button type="button" class="btn btn-default" ng-disabled="gridApi2.selection.getSelectedCount() == 0" ng-click="deleteSelectedColor()"
						 translate>REMOVE_SELECTED</button>
						<button type="button" class="btn btn-default" ng-click="colorCreate()" translate>NEW_COLOR</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">&nbsp;</div>
			</div>
			<div class="panel panel-default" uib-collapse="!currentColor">
				<div class="panel-heading">
					<div class="panel-title" translate>COLOR_DETAILS</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<label for="colorName" class="control-label" translate>NAME</label>
							<input type="text" id="colorName" class="form-control" ng-model="currentColor.name" placeholder="{{ 'NAME' | translate }}">
						</div>
						<div class="col-sm-6" ng-if="currentColor">
							<label for="colorColor" class="control-label" translate>COLOR</label>
							<!--<color-picker id="colorColor" class="form-control" ng-model="currentColor.RGB" options="colorPickerOptions"></color-picker>-->
							<input type="text" colorpicker ng-model="currentColor.RGB" class="form-control" id="colorColor">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label for="colorImage" translate>URL</label>
							<div class="input-group">
								<input type="text" class="form-control" id="colorImage" ng-model="currentColor.image" placeholder="{{ 'URL' | translate }}">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="!currentColor.image" ng-click="openPreviewModal(currentColor.image)"><span class="glyphicon glyphicon-eye-open"></span></button>
								<button type="button" class="btn btn-default" ng-click="openUploadModal(currentColor, 'image')" translate>UPLOAD_IMAGE</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-right">
							<button type="button" class="btn btn-primary" ng-click="saveColor(currentColor)" translate>SAVE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>