<style>
.gridSizing {
	width: 800px;
	height: 400px;
}

.gridSize {
	width: 800px;
	height: 400px;
}
</style>

<h3 translate>SIZING_LIST</h3>

<div ui-grid="sizingGridOptions" class="gridSizing" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
<input type="button" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()" value="{{ 'REMOVE_SELECTED' | translate }}"></input>
<input type="button" ng-click="sizingCreate()" value="{{'NEW_SIZING' | translate }}"></input>


<div ng-if="currentSizing">
	<h3>Sizes edit ({{currentSizing.name}})</h3>
	<div ui-grid="sizeGridOptions" class="gridSize" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
	<input type="button" ng-disabled="gridApi2.selection.getSelectedCount() == 0" ng-click="deleteSelectedSizes()" value="{{ 'REMOVE_SELECTED' | translate }}"></input>
<input type="button" ng-click="sizeCreate()" value="{{'NEW_SIZE' | translate }}"></input>
</div>
