<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> <span translate>STOCK_LIST</span></h3>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ui-grid="productGridOptions" ui-grid-pagination class="grid"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="row" ng-if="currentProduct && !currentProduct.sizings.length">
	<div class="col-md-6">
		<div class="form-horizontal">
			<div class="form-group">
				<label for="stock" class="col-sm-2 control-label" translate>STOCK</label>
				<div class="col-sm-10">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="currentProduct.stock" placeholder="{{ 'STOCK' | translate }}">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="updateProduct(currentProduct)" translate>SAVE</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6" ng-if="currentProduct.sizings.length">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span translate>SIZING_LIST</span> ({{currentProduct.name}})
				</div>
			</div>
			<div class="panel-body">
				<div ui-grid="sizingGridOptions" ui-grid-pagination class="grid"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6" ng-if="currentSizing.sizes && currentSizing.sizes.length">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<span translate>SIZE_LIST</span> ({{currentSizing.name}})
				</div>
			</div>
			<div class="panel-body">
				<div ui-grid="sizeGridOptions" ui-grid-edit ui-grid-cellnav ui-grid-pagination class="grid"></div>
			</div>
		</div>
	</div>
</div>