<div class="page-header">
	<h3><span class="glyphicon glyphicon-th-list"></span> <span translate>TAX_LIST</span></h3>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ui-grid="taxGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()" translate>REMOVE_SELECTED</button>
			<button type="button" class="btn btn-default" ng-click="taxCreate()" translate>NEW_TAX</button>
		</div>
	</div>
</div>