<style>
.gridPayment {
	margin-left: 2.5%;
	width: 700px;
	height: 400px;
}

</style>


<h2 translate>PAYMENT_LIST</h2>
<div ui-grid="paymentGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination class="gridPayment"></div>
<input type="button" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()" value="{{ 'REMOVE_SELECTED' | translate }}"></input>
<input type="button" ng-click="paymentCreate()" value="{{'NEW_PAYMENT' | translate }}"></input>

<div ng-show="currentPayment">
	<label for="name" translate>NAME</label>
	<input type="text" id="name" ng-model="currentPayment.name" placeholder="{{ 'NAME' | translate }}">
	<label for="fee" translate>FEE</label>
	<input type="text" id="fee" ng-model="currentPayment.fee" placeholder="{{ 'FEE' | translate }}">
	<label for="description" translate>DESCRIPTION</label>
	<textarea id="description" ng-model="currentPayment.description" placeholder="{{ 'DESCRIPTION' | translate }}" style="resize:none"></textarea>
	<hr>
	<label translate>IMAGE</label>
	<img laravel-src="{{currentPayment.image}}" style="max-width:200px">

	<div ngf-select="uploadImage($files)" ngf-drop="uploadImage($files)" class="drop-box"
	  ngf-drag-over-class="'dragover'" ngf-multiple="false" 
	  ngf-pattern="'image/*'" translate>IMAGE_UPLOAD</div>
	<div ngf-no-file-drop translate>DD_NOT_SUPPORTED</div>
	<hr>
	<button type="button" ng-click="updatePayment(currentPayment)" translate>SAVE</button>
</div>