<h2 translate>SHIPMENT_LIST</h2>
<div ui-grid="shipmentGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination class="grid"></div>
<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()" value="{{ 'REMOVE_SELECTED' | translate }}"></button>
<button type="button" class="btn btn-default" ng-click="shipmentCreate()" value="{{'NEW_SHIPMENT' | translate }}"></button>

<div ng-show="currentShipment">
	<label for="name" translate>NAME</label>
	<input type="text" id="name" ng-model="currentShipment.name" placeholder="{{ 'NAME' | translate }}">
	<label for="fee" translate>FEE</label>
	<input type="text" id="fee" ng-model="currentShipment.fee" placeholder="{{ 'FEE' | translate }}">
	<label for="description" translate>DESCRIPTION</label>
	<textarea id="description" ng-model="currentShipment.description" placeholder="{{ 'DESCRIPTION' | translate }}" style="resize:none"></textarea>
	<hr>
	<label translate>IMAGE</label>
	<img laravel-src="{{currentShipment.image}}" style="max-width:200px">

	<div ngf-select="uploadImage($files)" ngf-drop="uploadImage($files)" class="drop-box"
	  ngf-drag-over-class="'dragover'" ngf-multiple="false" 
	  ngf-pattern="'image/*'" translate>IMAGE_UPLOAD</div>
	<div ngf-no-file-drop translate>DD_NOT_SUPPORTED</div>
	<hr>
	<button type="button" ng-click="updateShipment(currentShipment)" translate>SAVE</button>
</div>