.colorlist-color {
	width:45px;
	height:45px;
	border:1px solid gray;
	margin-left:2px;
	cursor:pointer;
	opacity: 0.85;
}

.colorlist-color-active {
	border:2px solid black !important;
	opacity: 1;
}