<div class="page-header">
    <h3><span class="glyphicon glyphicon-cog"></span> <span translate>GENERAL_CONFIG</span></h3>
</div>

<uib-tabset active="activeTab">
    <!-- Company data config -->
    <uib-tab index="0" heading="{{ 'COMPANY_CONFIG' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" translate>GENERAL_DATA</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="company_name" translate>COMPANY_NAME</label>
                        <input type="text" class="form-control" id="company_name" ng-model="config.company_name">
                    </div>
                    <div class="col-sm-6">
                        <label for="company_dnicif" translate>COMPANY_DNICIF</label>
                        <input type="text" class="form-control" id="company_dnicif" ng-model="config.company_dnicif">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="company_address" translate>COMPANY_ADDRESS</label>
                        <input type="text" class="form-control" id="company_address" ng-model="config.company_address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="company_logo" translate>COMPANY_LOGO</label>
                        <div class="input-group">
                            <input id="company_logo" type="text" class="form-control" ng-model="config.company_logo">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-disabled="!config.company_logo" ng-click="openPreviewModal(config.company_logo)"><span class="glyphicon glyphicon-eye-open"></span></button>
                            <button type="button" class="btn btn-default" ng-click="openUploadModal(config, 'company_logo')" translate>UPLOAD_IMAGE</button>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" translate>SOCIAL_MEDIA_CONFIG</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="facebook_url" class="control-label" translate>FACEBOOK_URL</label>
                        <input id="facebook_url" type="text" class="form-control" ng-model="config.facebook_url" placeholder="{{ 'FACEBOOK_URL' | translate }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="twitter_url" class="control-label" translate>TWITTER_URL</label>
                        <input id="twitter_url" type="text" class="form-control" ng-model="config.twitter_url" placeholder="{{ 'TWITTER_URL' | translate }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="gplus_url" class="control-label" translate>GPLUS_URL</label>
                        <input id="gplus_url" type="text" class="form-control" ng-model="config.gplus_url" placeholder="{{ 'GPLUS_URL' | translate }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="pinterest_url" class="control-label" translate>PINTEREST_URL</label>
                        <input id="pinterest_url" type="text" class="form-control" ng-model="config.pinterest_url" placeholder="{{ 'PINTEREST_URL' | translate }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="youtube_url" class="control-label" translate>YOUTUBE_URL</label>
                        <input id="youtube_url" type="text" class="form-control" ng-model="config.youtube_url" placeholder="{{ 'YOUTUBE_URL' | translate }}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <span translate>SHARING_URLS</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="facebook_share_url" class="control-label" translate>FACEBOOK_SHARING_URL</label>
                                <input id="facebook_share_url" type="text" class="form-control" ng-model="config.facebook_share_url" placeholder="{{ 'FACEBOOK_SHARING_URL' | translate }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="twitter_share_url" class="control-label" translate>TWITTER_SHARING_URL</label>
                                <input id="twitter_share_url" type="text" class="form-control" ng-model="config.twitter_share_url" placeholder="{{ 'TWITTER_SHARING_URL' | translate }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="gplus_share_url" class="control-label" translate>GPLUS_SHARING_URL</label>
                                <input id="gplus_share_url" type="text" class="form-control" ng-model="config.gplus_share_url" placeholder="{{ 'GPLUS_SHARING_URL' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>

    <!-- Slides config -->
    <uib-tab index="1" heading="{{ 'SLIDE_CONFIG' | translate }}">

        <div class="row" ng-if="activeTab == 1">
            <div class="col-xs-12">
                <!--Carousel-->
                <div uib-carousel active="active" interval="config.slides_interval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides.lists.current track by slide.order" index="$index" ng-class="{ 'faded' : !slide.shown }">
                        <img style="width:100%" laravel-src="{{slide.image_url}}">
                        <div class="carousel-caption">
                            <h4 class="text-center">{{ slide.title }}</h4>
                            <p ng-bind-html="slide.text | unsafe" class="text-center"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" translate>
                    PRESENTATION_CONFIG
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label translate>SLIDES_ENABLED</label>
                        <div class="input-group">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="config.slides_enabled" uib-btn-radio="0" translate>NO</label>
                                <label class="btn btn-default" ng-model="config.slides_enabled" uib-btn-radio="1" translate>YES</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="slides_interval" translate>SLIDES_INTERVAL</label>
                        <input id="slides_interval" type="number" class="form-control" ng-model="config.slides_interval">
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-xs-9">
                            <span translate>CURRENT_SLIDES</span> <span class="glyphicon glyphicon-info-sign" uib-tooltip="{{ 'CURRENT_SLIDES_INFO' | translate }}"></span>
                        </div>
                        <div class="col-xs-3 text-right">
                            <a href="" role="button" ng-click="addSlide()" uib-tooltip="{{ 'SLIDE_NEW_INFO' | translate}}"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" dnd-list="slides.lists.current">
                <div class="panel panel-default" ng-repeat="item in slides.lists.current" dnd-draggable="item" dnd-moved="slides.lists.current.splice($index, 1); reorderSlides()"
                    dnd-effect-allowed="move" dnd-selected="slides.selected = item" ng-class="{'selected': slides.selected === item}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-8">
                                <small class="panel-title"><span translate>{{item.title}}</span></small>
                            </div>
                            <div class="col-xs-4 text-right">
                                <a ng-show="!item.opened" href="" ng-click="item.opened = true"><span class="glyphicon glyphicon-menu-down"></span></a>
                                <a ng-show="item.opened" href="" ng-click="item.opened = false"><span class="glyphicon glyphicon-menu-up"></span></a>
                                <a href="" ng-click="deleteSlide(item)"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="item.opened">
                        <div class="row" dnd-nodrag>
                            <div class="col-sm-9">
                                <label for="title_{{item.id}}" translate>TITLE</label>
                                <input id="title_{{item.id}}" type="text" class="form-control" ng-model="item.title">
                            </div>
                            <div class="col-sm-3">
                                <label translate>ACTIVE</label>
                                <div class="input-group" uib-tooltip="{{ 'SLIDE_ACTIVE_INFO' | translate }}">
                                    <div class="btn-group">
                                        <label class="btn btn-default" ng-model="item.active" uib-btn-radio="0" translate>NO</label>
                                        <label class="btn btn-default" ng-model="item.active" uib-btn-radio="1" translate>YES</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                        <div class="row" dnd-nodrag>
                            <div class="col-xs-12">
                                <label translate>TEXT</label> <a role="button" href="" ng-click="openEditModal(item)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <div ng-bind-html="item.text | unsafe"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">&nbsp;</div>
                        </div>
                        <div class="row" dnd-nodrag>
                            <div class="col-sm-6">
                                <label for="startdate_{{item.id}}" translate>START_DATE</label>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <input id="startdate_{{item.id}}" type="text" class="form-control" ng-model="item.start_date" data-container="body" bs-datepicker>
                                    </div>
                                    <div class="col-sm-5">
                                        <input id="startdate_{{item.id}}" type="text" class="form-control" ng-model="item.start_date" bs-timepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="enddate_{{item.id}}" translate>END_DATE</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input id="enddate_{{item.id}}" type="text" class="form-control" ng-model="item.end_date" data-container="body" bs-datepicker>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="enddate_{{item.id}}" type="text" class="form-control" ng-model="item.end_date" bs-timepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" dnd-nodrag>
                            <div class="col-xs-12">
                                <label for="image_url_{{item.id}}" translate>IMAGE_URL</label>
                                <div class="input-group">
                                    <input id="image_url_{{item.id}}" type="text" class="form-control" ng-model="item.image_url">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="!item.image_url" ng-click="openPreviewModal(item.image_url)"><span class="glyphicon glyphicon-eye-open"></span></button>
                                    <button type="button" class="btn btn-default" ng-click="openUploadModal(item, 'image_url')" translate>UPLOAD_IMAGE</button>

                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" dnd-nodrag>
                            <div class="col-xs-12">
                                <label for="link_{{item.id}}" translate>LINK</label>
                                <input id="link_{{item.id}}" type="text" class="form-control" ng-model="item.link">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </uib-tab>

    <uib-tab index="2" heading="{{ 'PAYMENT_METHODS' | translate}}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span translate>PAYPAL_CONFIG</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="paypal_app_key" translate>PAYPAL_APP_KEY</label>
                        <input type="text" class="form-control" id="paypal_app_key" ng-model="config.paypal_app_key">
                    </div>
                    <div class="col-xs-12">
                        <label for="paypal_app_secret" translate>PAYPAL_APP_SECRET</label>
                        <input type="text" class="form-control" id="paypal_app_secret" ng-model="config.paypal_app_secret">
                    </div>
                    <div class="col-sm-6">
                        <label for="paypal_currency" translate>PAYPAL_CURRENCY</label>
                        <input type="text" class="form-control" id="paypal_currency" ng-model="config.paypal_currency">
                    </div>
                    <div class="col-sm-6">
                        <label for="paypal_handling_fee" translate>PAYPAL_HANDLING_FEE</label>
                        <input type="number" class="form-control" id="paypal_handling_fee" ng-model="config.paypal_handling_fee">
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span translate>CREDIT_CARD_CONFIG</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <label for="card_handling_fee" translate>CARD_HANDLING_FEE</label>
                    <input type="number" class="form-control" id="card_handling_fee" ng-model="config.card_handling_fee">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span translate>CASH_ON_DELIVERY_CONFIG</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <label for="cod_handling_fee" translate>COD_HANDLING_FEE</label>
                    <input type="number" class="form-control" id="cod_handling_fee" ng-model="config.cod_handling_fee">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <span translate>BANK_TRANSFER_CONFIG</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <label for="transfer_handling_fee" translate>TRANSFER_HANDLING_FEE</label>
                    <input type="number" class="form-control" id="transfer_handling_fee" ng-model="config.transfer_handling_fee">
                </div>
                <div class="col-sm-6">
                    <label for="transfer_account_number" translate>TRANSFER_ACCOUNT_NUMBER</label>
                    <input type="text" class="form-control" id="transfer_account_number" ng-model="config.transfer_account_number">
                </div>
            </div>
        </div>

    </uib-tab>

    <uib-tab index="3" heading="{{ 'SHIPMENT_METHODS' | translate}}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ng-if="activeTab == 3" ui-grid="shipmentGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination
                    class="grid"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
                        translate>REMOVE_SELECTED</button>
                    <button type="button" class="btn btn-default" ng-click="shipmentCreate()" translate>NEW_SHIPMENT</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="panel panel-default" uib-collapse="!currentShipment">
            <div class="panel-heading">
                <div class="panel-title" translate>SHIPMENT_DETAILS</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="shipment_name" class="control-label" translate>NAME</label>
                        <input type="text" class="form-control" id="shipment_name" ng-model="currentShipment.name" placeholder="{{ 'NAME' | translate }}">
                    </div>
                    <div class="col-sm-6">
                        <label for="shipment_fee" class="control-label" translate>FEE</label>
                        <input type="text" class="form-control" id="shipment_fee" ng-model="currentShipment.fee" placeholder="{{ 'FEE' | translate }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="shipment_description" class="control-label" translate>DESCRIPTION</label>
                        <textarea id="shipment_description" class="form-control" ng-model="currentShipment.description" placeholder="{{ 'DESCRIPTION' | translate }}"
                            style="resize:vertical"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label translate>IMAGE_URL</label>
                        <div class="input-group">
                            <input type="text" id="shipment_image" class="form-control" ng-model="currentShipment.image" placeholder="{{ 'IMAGE_URL' | translate }}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="!currentShipment.image" ng-click="openPreviewModal(currentShipment.image)"><span class="glyphicon glyphicon-eye-open"></span></button>
                            <button type="button" class="btn btn-default" ng-click="openUploadModal(currentShipment, 'image')" translate>UPLOAD_IMAGE</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn btn-primary" ng-click="updateShipment(currentShipment)" translate>SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="{{ 'ORDER_STATUS' | translate }}">
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title" translate>COMMON_ORDER_STATUS</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <add-select data="orderStatusList" selected="selectedStatus" with-order="true"></add-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="payment_finished_step" class="control-label" translate>PAYMENT_FINISHED_STEP</label>
                            <select id="payment_finished_step" class="form-control" ng-model="temp.payment_finished_step_name" ng-options="order for order in orderStatusList"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title" translate>COD_ORDER_STATUS</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <add-select data="orderStatusCODList" selected="selectedStatusCOD" with-order="true"></add-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="payment_finished_step_cod" class="control-label" translate>PAYMENT_FINISHED_STEP</label>
                            <select id="payment_finished_step_cod" class="form-control" ng-model="temp.payment_finished_step_name_cod" ng-options="order for order in orderStatusCODList"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
    <div class="col-xs-12 text-right" ng-if="activeTab != 3">
        <button type="button" class="btn btn-primary" ng-click="saveConfig()" translate>SAVE_ALL</button>
    </div>
</div>


<script type="text/ng-template" id="editmodal.html">

    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()">&times;</button>
        <h4 class="modal-title" translate>TEXT_EDIT</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xs-12">
                <summernote height="200" ng-model="text"></summernote>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close(text)" translate>CLOSE</button>
    </div>

</script>