[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[ng-drag] {
    width: @drag-default-width;
    height: @drag-default-height;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 0 10px;
    cursor: move;
    transition: opacity 0.5s, width 0.1s, height 0.1s;
}

ul.draggable-objects:after {
    display: block;
    content: "";
    clear: both;
}

.draggable-objects li {
    float: left;
    display: block;
    width: 150px;
    height: 45px;
}

[ng-drag].drag-over {
    border: solid 1px red;
    width: @drag-dragover-width !important;
    height: @drag-dragover-height !important;
    opacity: 0.7 !important;
}

[ng-drag].dragging {
    opacity: 0.5;
    width: @drag-dragging-width;
    height: @drag-dragging-height;
    overflow:hidden;
}