.drop-box {
    border: 5px dashed @dropbox-default-border;
    border-radius: @border-radius-large;
    width: 100%;
    padding-top: @dropbox-padding-top;
    padding-bottom: @dropbox-padding-bottom;
    background-color: @dropbox-default-bg;

}
.dragover {
    border: 5px dashed @dropbox-default-dragover-border;
}