.footer {
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid @footer-default-border;
	border-top: 1px solid @footer-default-border;
	margin-top: @footer-margin-top;
}

.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}

.footer h3 {
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}

.social li {	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
}
.footer-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/** Footer Themes **/
.footer-default {
	.footer {
		background: @footer-default-bg;

		h3 {
			border-bottom: 1px solid @footer-default-border;
			color: @footer-default-color;
		}

		ul {
			color: @footer-default-color;
		}

		a {
			color: @footer-default-color;
		}
	}

	.footer-bottom {
		background: @footer-bottom-default-bg;
		border-top: 1px solid @footer-default-border;
		color: @footer-default-color;
	}

	.social {
		li {
			background: none repeat scroll 0 0 @social-default-bg;
			border: 2px solid @social-default-border;

			&:hover {
				border: 2px solid @social-default-link-hover-border;
				background: @social-default-link-hover-bg;
			}

			a {
				color: @social-default-link-color;

				i {
					color: @social-default-color !important;
				}
			}
		}
	}
	
}

.footer-inverse {
	.footer {
		background: @footer-inverse-bg;

		h3 {
			border-bottom: 1px solid @footer-default-border;
			color: @footer-inverse-color;
		}

		ul {
			color: @footer-inverse-color;
		}

		a {
			color: @footer-inverse-color;
		}
	}

	.footer-bottom {
		background: @footer-bottom-inverse-bg;
		border-top: 1px solid @footer-inverse-border;
		color: @footer-inverse-color;
	}

	.social {
		li {
			background: none repeat scroll 0 0 @social-inverse-bg;
			border: 2px solid @social-inverse-border;

			&:hover {
				border: 2px solid @social-inverse-link-hover-border;
				background: @social-inverse-link-hover-bg;
			}

			a {
				color: @social-inverse-link-color;

				i {
					color: @social-inverse-color !important;
				}
			}
		}

	}
	
}