/* MODAL WINDOW */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal-gray {
  .modal-header {
    background-color: @modal-gray-header-bg;
  }

  .modal-body {
    background-color: @modal-gray-body-bg;
  }

  .modal-footer {
    background-color: @modal-gray-footer-bg;
  }
}