.brand-image {
    max-height: @navbar-height - @navbar-height*0.05;
    margin-right: @brand-image-margin-right;
    margin-top: @navbar-height*0.05;
    padding: @brand-image-padding;
}

/* Change navbar position to relative on XS size */
@media (max-width: @screen-xs-max) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
}
