.pageBreak {
	page-break-after: always;
}

.noresize {
    resize: none;
}

.faded {
    opacity: 0.5;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}