//Footer default
@footer-default-color: @navbar-default-color;
@footer-default-bg: @navbar-default-bg;
@footer-default-border: @navbar-default-border;

@footer-bottom-default-bg: darken(@navbar-default-bg, 10%);

//Footer inverse
@footer-inverse-color: @navbar-inverse-color;
@footer-inverse-bg: @navbar-inverse-bg;
@footer-inverse-border: @navbar-inverse-border;

@footer-bottom-inverse-bg: lighten(@navbar-inverse-bg, 10%);

//Footer shared
@footer-margin-top: 15px;

//Social default
@social-default-color: #EDEFF1;
@social-default-bg: darken(@social-default-color, 20%);
@social-default-border: @social-default-bg;

@social-default-link-color: @social-default-color;
@social-default-link-bg: @social-default-bg;
@social-default-link-border: @social-default-border;
@social-default-link-hover-color: @social-default-link-color;
@social-default-link-hover-bg: #2c3e50;
@social-default-link-hover-border: @social-default-link-hover-bg;

//Social inverse
@social-inverse-color: #EDEFF1;
@social-inverse-bg: darken(@social-inverse-color, 60%);
@social-inverse-border: @social-inverse-bg;

@social-inverse-link-color: @social-inverse-color;
@social-inverse-link-bg: @social-inverse-bg;
@social-inverse-link-border: @social-inverse-border;
@social-inverse-link-hover-color: @social-inverse-link-color;
@social-inverse-link-hover-bg: lighten(@social-default-link-hover-bg, 30%);
@social-inverse-link-hover-border: @social-inverse-link-hover-bg;

//Modal gray
@modal-gray-body-bg: lighten(@gray-lighter, 2%);
@modal-gray-header-bg: darken(@modal-gray-body-bg, 5%);
@modal-gray-footer-bg: darken(@modal-gray-body-bg, 5%);

//Drop box default
@dropbox-default-bg: transparent;
@dropbox-default-border: @gray-lighter;

@dropbox-default-dragover-border: @brand-primary;

//Drop box shared
@dropbox-padding-top: 25px;
@dropbox-padding-bottom: 25px;

//Drag
@drag-default-width: 140px;
@drag-default-height : 42px;
@drag-dragging-width: @drag-default-width * 1.2;
@drag-dragging-height: @drag-default-height * 1.2;
@drag-dragover-width: @drag-default-width * 0.7;
@drag-dragover-height: @drag-default-height * 0.9;

//Navbar
@brand-image-padding: 5px;
@brand-image-margin-right: 5px;