<footer class="footer-default">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Lorem Ipsum </h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                    <h3> Lorem Ipsum </h3>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control text-center" placeholder="Email ">
                                <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span translate>SEND</span>                                <i class="fa fa-long-arrow-right"> </i> </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <ul class="social">
                                <li ng-if="socialMedia.facebook_url"> <a ng-href="{{ socialMedia.facebook_url }}" target="_blank" class="text-center"> <i class="fa fa-facebook">   </i> </a>                                    </li>
                                <li ng-if="socialMedia.twitter_url"> <a ng-href="{{ socialMedia.twitter_url }}" target="_blank" class="text-center"> <i class="fa fa-twitter">  </i> </a>                                    </li>
                                <li ng-if="socialMedia.gplus_url"> <a ng-href="{{ socialMedia.gplus_url }}" target="_blank" class="text-center"> <i class="fa fa-google-plus"></i> </a>                                    </li>
                                <li ng-if="socialMedia.pinterest_url"> <a ng-href="{{ socialMedia.pinterest_url }}" target="_blank" class="text-center"> <i class="fa fa-pinterest">   </i> </a>                                    </li>
                                <li ng-if="socialMedia.youtube_url"> <a ng-href="{{ socialMedia.youtube_url }}" target="_blank" class="text-center"> <i class="fa fa-youtube">   </i> </a>                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer E-commerce Plugin 2014. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->