<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title" translate>IMAGE_PREVIEW</h4>
</div>
<div class="modal-body">

    <div class="row" ng-show="field">
        <div class="col-xs-12">
            <img class="img img-responsive center-block" laravel-src="{{ field }}" alt="Image preview">
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()" translate>CLOSE</button>
</div>