<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title" translate>UPLOAD_IMAGE</h4>
</div>
<div class="modal-body">

    <div class="row" ng-show="uploadedImageUrl">
        <div class="col-xs-12">
            <img class="img img-responsive center-block" laravel-src="{{ uploadedImageUrl }}" alt="Upload image">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div ngf-select="uploadImages($files)" ngf-drop="uploadImages($files)" class="drop-box" ngf-drag-over-class="'dragover'"
                ngf-multiple="false" ngf-pattern="'image/*'">
                <div class="row text-muted">
                    <div class="col-xs-12 text-center"><span class="lead glyphicon glyphicon-arrow-down gi-3x"></span></div>
                    <div class="col-xs-12 text-center"><span class="lead" translate>IMAGE_UPLOAD</span></div>
                </div>
            </div>
            <div ngf-no-file-drop translate>DD_NOT_SUPPORTED</div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CLOSE</button>
    <button type="button" class="btn btn-primary" ng-click="$close(uploadedImageUrl)" translate>SET_IMAGE</button>
</div>