<nav id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="admin">Store</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a ui-sref="admin">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="userlist({id : ''})" translate>USERS</a></li>
            <li><a ui-sref="rolelist" translate>ROLES</a></li>
            <li><a ui-sref="permissionlist" translate>PERMISSIONS</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="productlist" translate>PRODUCTS</a></li>
            <li><a ui-sref="productimport" translate>PRODUCTS_IMPORT</a></li>
            <li><a ui-sref="sizinglist" translate>SIZINGS</a></li>
            <li><a ui-sref="taxlist" translate>TAXES</a></li>
            <li><a ui-sref="discountlist" translate>DISCOUNTS</a></li>
            <li><a ui-sref="stocklist" translate>STOCKS</a></li>
            <li><a ui-sref="increaselist" translate>INCREASES</a></li>
            <li><a ui-sref="categorylist" translate>CATEGORIES</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="orderlist" translate>ORDERS</a></li>
            <li><a ui-sref="ticketlist" translate>TICKETS</a></li>
            <li><a ui-sref="ticketconfig" translate>TICKETS_CONFIG</a></li>
            <li><a ui-sref="generalconfig" translate>GENERAL_CONFIG</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="auth.authenticated" ui-sref="profileedit">Profile</a><a ng-hide="auth.authenticated" ui-sref="auth">Log in</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <toaster-container toaster-options="{'limit': 5, 'position-class' : 'text-left toast-top-right-margin'}"></toaster-container>
	<div data-ui-view></div>
</div>

<div class="hidden-print" ng-include="'app/views/templates/footer.html'"></div>