<div class="page-header hidden-print">
	<h2><span class="glyphicon glyphicon-list-alt"></span> {{ 'ORDER_LIST' | translate }}</h2>
</div>
<div class="row hidden-print">
	<div class="col-xs-12">
		<div ui-grid="orderGridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
	</div>
</div>

<div class="row hidden-print">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div id="orderInfo" ng-show="currentOrder">
	<div class="panel panel-info hidden-print">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-user-circle" aria-hidden="true"></i> <span translate>USER_INFO</span></h3>
		</div>
		<div class="panel-body">
			<span ng-if="!currentOrder.user" translate>USER_WAS_REMOVED</span>
			<div ng-if="currentOrder.user">
				<div class="row">
					<div class="col-sm-6">
						<strong>{{ 'USERNAME' | translate }}: </strong>{{ currentOrder.user.username }}<br>
						{{ currentOrder.user.email }}<br>
					</div>
					<div class="col-sm-6">
						<strong>{{ currentOrder.user.lastname }}, {{ currentOrder.user.name }}</strong><br>
						<span class="text-uppercase">{{ currentOrder.user.country }}</span><br>
						<abbr title="{{ 'PHONE' | translate }}" translate>PHONE_ABBR</abbr> {{ currentOrder.user.mobphone }}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12" ng-show="messageOpened">&nbsp;</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="button" ng-show="!messageOpened" class="btn btn-link" ng-click="openMessage()" translate>COMMUNICATE_WITH_CUSTOMER</button>
						<div class="panel panel-default" uib-collapse="!messageOpened">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-6">{{ 'COMMUNICATE_WITH_CUSTOMER' | translate }}</div>
									<div class="col-xs-6 text-right">
										<a href="" ng-click="openMessage(false)"><span class="glyphicon glyphicon-remove"></span></a>
									</div>
								</div>
								
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-12">
										<summernote height="250" ng-model="message"></summernote>
				
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-right">
										<button type="button" class="btn btn-default" ng-click="sendMessage(message)" translate translate-values="{ email : currentOrder.user.email }">SEND_EMAIL</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-info hidden-print">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-address-card-o" aria-hidden="true"></i> <span translate>ADDRESSES_INFO</span></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-12">
							<h4 translate>SHIPPING_ADDRESS</h4>
							<address>
							  <strong>{{ currentOrder.sa_lastname }}, {{ currentOrder.sa_name }}</strong><br>
							  {{ currentOrder.sa_address }}<br>
							  {{ currentOrder.sa_city }}, {{ currentOrder.sa_province }}, <span class="text-uppercase">{{ currentOrder.sa_country }}</span> {{ currentOrder.sa_zip_code }}<br>
							  <abbr title="{{ 'PHONE' | translate }}" translate>PHONE_ABBR</abbr> {{ currentOrder.sa_mob_phone }}
							</address>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{ 'ORDER_DATE' | translate }} : {{ getCreateDate() | date }}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-12">
							<h4 translate>BILLING_ADDRESS</h4>
							<address>
							  <strong>{{ currentOrder.ba_lastname }}, {{ currentOrder.ba_name }}</strong><br>
							  {{ currentOrder.ba_address }}<br>
							  {{ currentOrder.ba_city }}, {{ currentOrder.ba_province }}, <span class="text-uppercase">{{ currentOrder.ba_country }}</span> {{ currentOrder.ba_zip_code }}<br>
							  <abbr title="{{ 'PHONE' | translate }}" translate>PHONE_ABBR</abbr> {{ currentOrder.ba_mob_phone }}
							</address>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							{{ 'PAYMENT_METHOD' | translate }} : {{ currentOrder.p_name }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-info hidden-print">
		<div class="panel-heading">
			<h3 class="panel-title">{{ 'ORDER_STATUS' | translate }} <small>({{ currentOrder.status.name }})</small></h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12">
					<process-steps class="hidden-sm hidden-xs" steps="statusList" current-step="currentOrder.status.id" step-click="changeStatus"></process-steps>
					<select class="form-control visible-sm visible-xs" ng-options="status.name for status in statusList track by status.id" ng-model="currentOrder.status" ng-change="changeStatus(currentOrder.status)"></select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{{ 'LAST_UPDATE' | translate }} : {{ getUpdateDate() | date }}
				</div>
			</div>
		</div>
	</div>
	<div class="row hidden-print"><div class="col-xs-12">
		<button type="button" class="btn btn-default btn-block" ng-click="showInvoice = !showInvoice">
			<span ng-show="!showInvoice" class="glyphicon glyphicon-triangle-bottom"></span>
			<span ng-show="showInvoice" class="glyphicon glyphicon-triangle-top"></span>
			<span ng-if="isInvoiceCreated()">{{ !showInvoice ? 'SHOW_INVOICE' : 'HIDE_INVOICE' | translate }}</span>
			<span ng-if="!isInvoiceCreated()">{{ !showInvoice ? 'SHOW_ORDER' : 'HIDE_ORDER' | translate }}</span>
			<span ng-show="!showInvoice" class="glyphicon glyphicon-triangle-bottom"></span>
			<span ng-show="showInvoice" class="glyphicon glyphicon-triangle-top"></span>
		</button>
	</div></div>
	<div class="panel panel-default" uib-collapse="!showInvoice">
		<div class="panel-body">
			<invoice order="currentOrder" company="company"></invoice>	
		</div>
	</div>
</div>