/* DRAG AND DROP LISTS */
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}
/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}
/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}
ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
}
/**
 * Show selected elements in green
 */
ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}
.drop-box {
  border: 5px dashed #eeeeee;
  border-radius: 6px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent;
}
.dragover {
  border: 5px dashed #337ab7;
}
/* MODAL WINDOW */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.modal-gray .modal-header {
  background-color: #e7e7e7;
}
.modal-gray .modal-body {
  background-color: #f4f4f4;
}
.modal-gray .modal-footer {
  background-color: #e7e7e7;
}
.brand-image {
  max-height: 47.5px;
  margin-right: 5px;
  margin-top: 2.5px;
  padding: 5px;
}
/* Change navbar position to relative on XS size */
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
    top: auto;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
}
.pageBreak {
  page-break-after: always;
}
.noresize {
  resize: none;
}
.faded {
  opacity: 0.5;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  body {
    padding-top: 55px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }
}
.grid {
  height: 75vh;
}
.footer {
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  margin-top: 15px;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.social li {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
}
.footer-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em;
}
/** Footer Themes **/
.footer-default .footer {
  background: #f8f8f8;
}
.footer-default .footer h3 {
  border-bottom: 1px solid #e7e7e7;
  color: #777;
}
.footer-default .footer ul {
  color: #777;
}
.footer-default .footer a {
  color: #777;
}
.footer-default .footer-bottom {
  background: #dfdfdf;
  border-top: 1px solid #e7e7e7;
  color: #777;
}
.footer-default .social li {
  background: none repeat scroll 0 0 #b4bcc4;
  border: 2px solid #b4bcc4;
}
.footer-default .social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.footer-default .social li a {
  color: #EDEFF1;
}
.footer-default .social li a i {
  color: #EDEFF1 !important;
}
.footer-inverse .footer {
  background: #222;
}
.footer-inverse .footer h3 {
  border-bottom: 1px solid #e7e7e7;
  color: #9d9d9d;
}
.footer-inverse .footer ul {
  color: #9d9d9d;
}
.footer-inverse .footer a {
  color: #9d9d9d;
}
.footer-inverse .footer-bottom {
  background: #3c3c3c;
  border-top: 1px solid #080808;
  color: #9d9d9d;
}
.footer-inverse .social li {
  background: none repeat scroll 0 0 #4b5661;
  border: 2px solid #4b5661;
}
.footer-inverse .social li:hover {
  border: 2px solid #698aac;
  background: #698aac;
}
.footer-inverse .social li a {
  color: #EDEFF1;
}
.footer-inverse .social li a i {
  color: #EDEFF1 !important;
}
.gi-1-5x {
  font-size: 1.5em;
}
.gi-2x {
  font-size: 2em;
}
.gi-3x {
  font-size: 3em;
}
.gi-4x {
  font-size: 4em;
}
.gi-5x {
  font-size: 5em;
}
.gi-6x {
  font-size: 6em;
}
.img-placeholder {
  padding-top: 6px;
  padding-bottom: 6px;
}
.img-placeholder img {
  background-color: #eeeeee;
}
.productItem {
  padding-bottom: 20px;
}
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}
.material-switch > label::before {
  background: #000000;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag] {
  width: 140px;
  height: 42px;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
  margin: 0 10px;
  cursor: move;
  transition: opacity 0.5s, width 0.1s, height 0.1s;
}
ul.draggable-objects:after {
  display: block;
  content: "";
  clear: both;
}
.draggable-objects li {
  float: left;
  display: block;
  width: 150px;
  height: 45px;
}
[ng-drag].drag-over {
  border: solid 1px red;
  width: 98px !important;
  height: 37.8px !important;
  opacity: 0.7 !important;
}
[ng-drag].dragging {
  opacity: 0.5;
  width: 168px;
  height: 50.4px;
  overflow: hidden;
}
.toast-top-right-margin {
  top: 55px;
  right: 12px;
}
