<div>
	<div class="row">
		<div class="col-xs-12 form-group">
			<div uib-collapse="address" class="row">
				<div class="col-xs-12">
					<select class="form-control" ng-change="select()" ng-model="selectedId" ng-options="a.id as a.description for a in data">
			</select>
				</div>
			</div>
			<div uib-collapse="!selected || address" class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-9">{{ selected.name }}</div>
						<div ng-show="!address" class="col-xs-3">
							<a href="" ng-click="edit(false)">
						<span class="glyphicon glyphicon-pencil"></span> {{ translations.edit }}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ selected.address }}</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ selected.zip_code }} {{ selected.city }}</div>
					</div>
					<div class="row">
						<div class="col-xs-12">{{ selected.city }}, {{ selected.country }}</div>
					</div>
				</div>
			</div>
			<div uib-collapse="!address">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.name" placeholder="{{ translations.name }}">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.lastname" placeholder="{{ translations.lastname }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.dnicif" placeholder="{{ translations.dnicif }}">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.country" placeholder="{{ translations.country }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.province" placeholder="{{ translations.province }}">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.city" placeholder="{{ translations.city }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.zip_code" placeholder="{{ translations.zip_code }}">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.address" placeholder="{{ translations.address }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.phone" placeholder="{{ translations.phone }}">
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="address.mob_phone" placeholder="{{ translations.mob_phone }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" ng-model="address.description" placeholder="{{ translations.description }}">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-sm-offset-8 col-sm-2 col-xs-offset-6 col-xs-3 text-right">
							<button class="btn btn-link" type="button" ng-click="cancelEdit()">{{ translations.cancel }}</button>
						</div>
						<div class="col-sm-2 col-xs-3 text-right">
							<button class="btn btn-primary" type="button" ng-click="save()">{{ translations.save }}</button>
						</div>
					</div>
			</div>
			</form>
		</div>
	</div>
	<div ng-show="!address" class="row">
		<div class="col-xs-12">
			<a href="" ng-click="add()">{{ translations.add }}</a> &nbsp;
			<a href="" ng-if="selected" ng-click="delete()">{{ translations.delete }}</a>
		</div>
	</div>
</div>