<div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <select ng-model="selected" class="form-control" size="5" multiple>
                    <option ng-repeat="item in data" value="{{ item }}">{{ item }}</option>
                </select>
                <span class="input-group-btn">
                    <div class="row">
                        <div ng-show="withOrder" class="col-xs-12">
                            <button type="button" class="btn btn-sm btn-default" ng-click="moveUp()"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        </div>
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-sm btn-default" ng-click="delete()"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div ng-show="withOrder" class="col-xs-12">
                            <button type="button" class="btn btn-sm btn-default" ng-click="moveDown()"><span class="glyphicon glyphicon-arrow-down"></span></button>
                        </div>
                    </div>         
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newItem" ng-keypress="$event.keyCode == 13 && add(newItem)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="add(newItem)"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>