<div>
<div ng-if="cart.products.length" class="panel panel-info">
	<div class="panel-body visible-md visible-lg">
		<div class="row text-uppercase">
			<div class="col-md-6">
				<strong translate>PRODUCT</strong>
			</div>
			<div class="col-md-1">
				<strong translate>PRICE</strong>
			</div>
			<div class="col-md-3 text-center">
				<strong translate>UNITS</strong>
			</div>
			<div class="col-md-1">
				<strong translate>TOTAL</strong>
			</div>
		</div>
	</div>

	<ul class="list-group">
		<li ng-repeat="p in cart.products" class="list-group-item"><cart-row data="p" details-fn="details"></cart-row></li>
	</ul>
</div>

<div ng-if="!cart.products.length" class="panel panel-info">
	<div class="panel-body">
		{{ emptyText }}
	</div>
</div>

</div>