<div class="row">
	<div class="col-xs-12 col-md-2 text-center">
		<img style="cursor:pointer" ng-click="details()" class="img-responsive center-block" laravel-src="{{data.images[0].small_url}}">
	</div>
	<div class="col-xs-12 col-md-4 text-center">
		<strong style="cursor:pointer" ng-click="details()">{{ data.name }}</strong>
	</div>
	<div class="col-xs-12 col-sm-2 col-sm-offset-2 col-md-offset-0 col-md-1 text-center">
		{{ data.price_total | currency }}
	</div>
	<div class="visible-xs col-xs-12 col-md-1 text-center">
		<strong>{{ data.price_total * data.pivot.ammount | currency }}</strong>
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 col-md-offset-0 col-md-3 text-center">
		<div class="row">
			<div class="col-xs-12 col-lg-offset-1 col-lg-11 col-md-12">
				<div class="input-group input-group-sm">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-if="decrease" ng-click="decrease()">
							<span class="glyphicon glyphicon-minus" style="font-size:10px"></span>
						</button>
					</span>
					<input type="text" class="form-control text-center" ng-model="data.pivot.ammount">
					<div class="input-group-btn">
						<button class="btn btn-default" type="button" ng-if="increase" ng-click="increase()">
							<span class="glyphicon glyphicon-plus" style="font-size:10px"></span>
						</button>
						<button class="btn btn-default" type="button" ng-if="save" ng-click="save()">
							<span class="glyphicon glyphicon-ok" style="font-size:10px"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
				
	</div>
	<div class="hidden-xs col-sm-2 col-md-1 text-center">
		<strong>{{ data.price_total * data.pivot.ammount | currency }}</strong>
	</div>
	<div class="col-xs-12 visible-xs visible-sm">&nbsp;</div>
	<div class="col-xs-12 col-sm-12 col-md-1 text-center">
		<span class="glyphicon glyphicon-trash" style="cursor:pointer" ng-if="delete" ng-click="delete()"></span>
	</div>
</div>