<div>
<div ng-repeat="color in data" class="pull-left colorlist-color" ng-class="{'colorlist-color-active' : selected && selected == color}" ng-style="{'background-color' : color.RGB}" ng-click="select(color)" uib-tooltip="{{color.name}}">

</div>
</div>