<div>
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<input class="form-control" type="text" ng-model="filterAll" placeholder="Filter" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<select class="form-control" ng-dblclick="select()" ng-model="all" multiple>
					    <option ng-repeat="item in newItems | filter:filterAll" value="{{item.id}}">{{item.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<input class="form-control" type="text" ng-model="filterSelected" placeholder="Filter" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<select class="form-control" ng-dblclick="deselect()" ng-model="selected" multiple>
					    <option ng-repeat="selItem in selectedItems | filter:filterSelected" value="{{selItem.id}}">{{selItem.name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="btn-group">
				<button class="btn btn-default btn-sm" type="button" ng-click="deselectAll()">
					<span class="glyphicon glyphicon-backward"></span>
				</button>
				<button class="btn btn-default btn-sm" type="button" ng-click="deselect()">
					<span class="glyphicon glyphicon-triangle-left"></span>
				</button>
				<button class="btn btn-default btn-sm" type="button" ng-click="select()">
					<span class="glyphicon glyphicon-triangle-right"></span>
				</button>
				<button class="btn btn-default btn-sm" type="button" ng-click="selectAll()">
					<span class="glyphicon glyphicon-forward"></span>
				</button>
			</div>
		</div>
	</div>
</div>