<div>
	<div class="row" ng-if="preview">
		<div class="col-xs-12 text-center">
			<img class="img-responsive" laravel-src="{{currentImage.url}}" ng-if="currentImage">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<select class="form-control" ng-model="imageSelect" multiple>
	      		<option ng-repeat="image in list" value="{{image.id}}">{{ image.description != '' ? image.description : 'UNNAMED_IMAGE' | translate }}</option>
			</select>
		</div>
		<div class="col-sm-2">
			<div class="btn-group-vertical">
				<button class="btn btn-sm btn-default" ng-click="swapUp()"><span class="glyphicon glyphicon-arrow-up"></span></button>
				<button class="btn btn-sm btn-default" ng-click="swapDown()"><span class="glyphicon glyphicon-arrow-down"></span></button>
			</div>
		</div>
	</div>
</div>