<div>
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive img-thumbnail" laravel-src="{{main.url}}"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img ng-repeat="image in data" style="max-width:10%;cursor:pointer" class="img-responsive img-thumbnail" ng-click="setMain(image)" laravel-src="{{image.small_url}}"/>
		</div>
	</div>
</div>