<div>
	<div class="hidden-print">
		<div class="row">
			<div class="col-xs-12 text-right">
				<button ng-if="isInvoiceCreated()" class="hidden-print hidden-xs btn btn-default btn-lg" onclick="window.print()" type="button"><span class="glyphicon glyphicon-print"></span></button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div ng-if="isInvoiceCreated()" class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2 hidden-xs hidden-print">
								<img class="img-responsive" laravel-src="{{ company.company_logo }}">
							</div>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-12"><strong>{{ company.company_name }}</strong></div>
								</div>
								<div class="row">
									<div class="col-xs-12">{{ company.company_dnicif }}</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										{{ company.company_address }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 ng-if="isInvoiceCreated()" class="text-center text-uppercase" translate>INVOICE</h1>
						<h1 ng-if="!isInvoiceCreated()" class="text-center text-uppercase" translate>ORDER</h1>
					</div>
				</div>
			</div>
		</div>


		<div ng-if="isInvoiceCreated()" class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6"><strong>{{ 'INVOICE_NUMBER' | translate }}:</strong></div>
							<div class="col-xs-6 text-right">{{ order.invoice.id }}</div>
						</div>
						<div class="row">
							<div class="col-xs-6"><strong>{{ 'DATE' | translate }}:</strong></div>
							<div class="col-xs-6 text-right">{{ order.created_at }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 text-center"><strong>{{ order.ba_name }}, {{ order.ba_lastname }}</strong></div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">{{ order.ba_dnicif }}</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">{{ order.ba_address }}, {{ order.ba_city }} ({{ order.ba_province }}). {{ order.ba_country }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th class="text-center" translate>CODE</th>
						<th translate>CONCEPT</th>
						<th class="text-center" translate>UNIT_PRICE</th>
						<th class="text-center" translate>QUANTITY</th>
						<th class="text-center" translate>TOTAL_WITHOUT_TAXES</th>
						<th translate>TAXES</th>
						<th class="text-center" translate>TOTAL_TAX</th>
						<th class="text-center" translate>TOTAL</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in order.items">
						<td class="text-center"><small>{{ item.code }}</small></td>
						<td><small>{{ item.name }}</small></td>
						<td class="text-center"><small>{{ item.price | currency }}</small></td>
						<td class="text-center"><small>{{ item.ammount }}</small></td>
						<td class="text-center"><small>{{ item.price * item.ammount | currency }}</td>
						<td>
							<div class="row" ng-repeat="tax in item.item_taxes"><div class="col-xs-12"><small>{{ tax.name }}</small></div></div>
						</td>
						<td class="text-center"><small>{{ (item.price_total - item.price) * item.ammount | currency }}</small></td>
						<td class="text-center"><small>{{ item.price_total * item.ammount | currency }}</small></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="panel-body visible-xs text-center hidden-print">
				<small translate>TABLE_SWIPE_HINT</small>
			</div>
		</div>
	</div>


	<!-- PRINT -->

	<div class="visible-print" ng-repeat="page in pages" ng-class="{ pageBreak : page.id != pages.length -1 }">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="panel panel-default" ng-if="isInvoiceCreated()">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-2 hidden-xs">
								<img class="img-responsive" laravel-src="{{ company.company_logo }}">
							</div>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-12"><strong>{{ company.company_name }}</strong></div>
								</div>
								<div class="row">
									<div class="col-xs-12">{{ company.company_dnicif }}</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										{{ company.company_address }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 ng-if="isInvoiceCreated()" class="text-center text-uppercase" translate>INVOICE</h1>
						<h1 ng-if="!isInvoiceCreated()" class="text-center text-uppercase" translate>ORDER</h1>
					</div>
				</div>
			</div>
		</div>


		<div class="row" ng-if="isInvoiceCreated()">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6"><strong>{{ 'INVOICE_NUMBER' | translate }}:</strong></div>
							<div class="col-xs-6 text-right">{{ order.invoice.id }}</div>
						</div>
						<div class="row">
							<div class="col-xs-6"><strong>{{ 'DATE' | translate }}:</strong></div>
							<div class="col-xs-6 text-right">{{ order.created_at }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 text-center"><strong>{{ order.ba_name }}, {{ order.ba_lastname }}</strong></div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">{{ order.ba_dnicif }}</div>
						</div>
						<div class="row">
							<div class="col-xs-12 text-center">{{ order.ba_address }}, {{ order.ba_city }} ({{ order.ba_province }}). {{ order.ba_country }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th class="text-center" translate>CODE</th>
						<th translate>CONCEPT</th>
						<th class="text-center" translate>UNIT_PRICE_ABBR</th>
						<th class="text-center" translate>QUANTITY_ABBR</th>
						<th class="text-center" translate>TOTAL_WITHOUT_TAXES_ABBR</th>
						<th translate>TAXES</th>
						<th class="text-center" translate>TOTAL_TAX</th>
						<th class="text-center" translate>TOTAL</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in order.items">
						<td class="text-center"><small>{{ item.code }}</small></td>
						<td><small>{{ item.name }}</small></td>
						<td class="text-center"><small>{{ item.price | currency }}</small></td>
						<td class="text-center"><small>{{ item.ammount }}</small></td>
						<td class="text-center"><small>{{ item.price * item.ammount | currency }}</td>
						<td>
							<div class="row" ng-repeat="tax in item.item_taxes"><div class="col-xs-12"><small>{{ tax.name }}</small></div></div>
						</td>
						<td class="text-center"><small>{{ (item.price_total - item.price) * item.ammount | currency }}</small></td>
						<td class="text-center"><small>{{ item.price_total * item.ammount | currency }}</small></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="panel-body visible-xs text-center hidden-print">
				<small translate>TABLE_SWIPE_HINT</small>
			</div>
		</div>
	</div>

	<!-- END PRINT -->


	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0">{{ 'RAW_TOTAL' | translate }}:</div>
				<div class="col-sm-2 col-xs-6 text-center">{{ order.price_subtotal | currency }}</div>
			</div>
			<div class="row" ng-repeat="tax in order.tax_summary">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0">{{ tax.name }}</div>
				<div class="col-sm-2 col-xs-6 text-center">{{ tax.tax | currency }}</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0">{{ 'TOTAL_WITH_TAXES' | translate }}:</div>
				<div class="col-sm-2 col-xs-6 text-center">{{ order.price_total | currency }}</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0">{{ 'SHIPPING_FEE' | translate }}:</div>
				<div class="col-sm-2 col-xs-6 text-center">{{ order.sm_fee | currency }}</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0">{{ 'PAYMENT_FEE' | translate }}:</div>
				<div class="col-sm-2 col-xs-6 text-center">{{ order.p_fee | currency }}</div>
			</div>
			<div class="row">
				<div class="col-sm-offset-7 col-sm-3 col-xs-6 col-xs-offset-0"><strong>{{ 'TOTAL_TO_PAY' | translate }}:</strong></div>
				<div class="col-sm-2 col-xs-6 text-center"><strong>{{ order.price_total_with_fees | currency }}</strong></div>
			</div>
		</div>
	</div>

	<div ng-if="isInvoiceCreated()" class="panel panel-default">
		<div class="panel-body">
			<div class="row"><div class="col-xs-12">{{ 'PAYMENT_METHOD' | translate }}: {{ order.p_name }}</div></div>
			<div class="row"><div class="col-xs-12">{{ 'OBSERVATIONS' | translate }}: </div></div>
		</div>
	</div>

	
	</div>
</div>