<div>
	<div class="row">
		<div class="col-sm-10">
			<strong>{{data.user.username}}</strong>
		</div>
		<div class="col-sm-2">
			<div ng-if="loggedUser && loggedUser.id == data.user.id && editFn">
				<button class="btn btn-link btn-xs pull-right" ng-click="editOpinion()"><span class="glyphicon glyphicon-pencil"></span></button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5">
			<span uib-rating ng-model="data.score" max="5" read-only="1" titles="['2','4','6','8','10']" aria-labelledby="default-rating"></span>
		</div>
		<div class="col-sm-7">
		<span class="pull-right">{{ date | date:'short'}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="row"><div class="col-sm-12"><text-limit text="{{data.comments}}" max="500" more-text="{{ options.moreText || 'More' }}" less-text="{{ options.lessText || 'Less' }}"></text-limit></div></div>
			<div class="row"><div class="col-sm-12"><strong>{{options.positiveText || 'Positive:' }}</strong> {{data.positive}}</div></div>
			<div class="row"><div class="col-sm-12"><strong>{{options.negativeText || 'Negative:'}}</strong> {{data.negative}}</div></div>
			<div class="row"><div class="col-sm-12"><strong>{{options.recommendedText || 'Recommended? '}}</strong><span class="glyphicon" ng-class="{ 'glyphicon-ok' : data.recommended, 'glyphicon-remove' : !data.recommended }"></span></div></div>
			<div class="row" ng-if="loggedUser && downvoteFn && upvoteFn">
				<div class="col-sm-12">
					<span class="pull-right">
						<span class="glyphicon glyphicon-thumbs-down text-danger"></span>
						<strong><span class="text-danger">{{data.downvotes}}</span></strong>
						<span class="glyphicon glyphicon-thumbs-up text-success"></span>
						<strong><span class="text-success">{{data.upvotes}}</span></strong>
						<button type="button" ng-class="{votedActive : userVoted === 0}" class="btn btn-link" ng-click="downvote()"><span class="glyphicon glyphicon-chevron-down text-danger"></span></button>
						<button type="button" ng-class="{votedActive : userVoted === 1}" class="btn btn-link" ng-click="upvote()"><span class="glyphicon glyphicon-chevron-up text-success"></span></button>
						
					</span>
				</div>

			</div>
		</div>
	</div>
	<style>
		.votedActive {
			font-size:1.5em;
		}
	</style>
</div>