<div ng-show="options.totalPages() > 1">
	<span class="hidden-xs">

		<input type="button" class="btn btn-sm btn-default" ng-click="options.prevPageFn()" value="Previous">

		<span ng-show="nearbyPages[0] != 1"> <a class="btn btn-xs btn-default" ng-click="options.goFirstFn()" href="">1</a>
		...</span>

	<a ng-repeat="page in nearbyPages" ng-class="{ 'btn-primary' : page == options.currentPage(), 'btn-default' : page != options.currentPage() }"
	 class="btn btn-xs" href="" ng-click="options.goPageFn(page)">{{page}}</a>

	<span ng-show="nearbyPages[nearbyPages.length-1] != options.totalPages()">...<a class="btn btn-xs btn-default" ng-click="options.goLastFn()" href="">{{options.totalPages()}}</a>
		</span>

	<input type="button" class="btn btn-sm btn-default" ng-click="options.nextPageFn()" value="Next" />
	</span>

	<span class="hidden-sm hidden-md hidden-lg">

		<div class="input-group">
		<span class="input-group-btn">
			<button type="button" class="btn btn-lg btn-default" ng-click="options.prevPageFn()">Previous</button>
		</span>
		<select ng-options="page for page in allPages track by page" class="form-control input-lg" ng-model="pageSelect" ng-change="options.goPageFn(pageSelect)">
			
		</select>
		<!--<option ng-repeat="page in allPages" value="{{page}}">{{page}}</option>-->
		<span class="input-group-btn">
			<button type="button" class="btn btn-lg btn-default" ng-click="options.nextPageFn()">Next</button>
		</span>
		</div>
	</span>
</div>