<div class="row bs-wizard" style="border-bottom:0;">
      <div ng-repeat="step in steps" class="col-xs-1 bs-wizard-step" 
      ng-class="{ complete : step.id < currentStep, active : step.id == currentStep, disabled : step.id > currentStep }">
        <div class="text-center bs-wizard-stepnum">{{ step.id }}</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="" ng-click="click(step)" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">{{ step.name }}</div>
      </div>
</div>
