<article>
	<div class="row">
		<div class="col-xs-12">
			<img class="img-responsive" style="height:180px; margin: 0 auto; cursor:pointer;" ng-click="productDetails(productData)"
			 laravel-src="{{productData.images[0].small_url}}" />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<b class="currentPrice lead">{{productData.price_total | currency}}</b> &nbsp;
			<s ng-if="productData.price_total != productData.price_with_taxes" class="text-muted">{{ productData.price_with_taxes | currency }}</s>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<span id="rating" ng-show="productData.numOpinions" uib-rating ng-model="productData.rating" max="5" read-only="1" titles="['2','4','6','8','10']"
			 aria-labelledby="default-rating"></span>
			<span class="badge badge-default" uib-tooltip="{{ productData.numOpinions }} {{ 'OPINIONS' | translate }}">{{ productData.numOpinions }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<button type="button" class="btn btn-success btn-sm" ng-click="addToCart(productData.id)"><span class="glyphicon glyphicon-shopping-cart"></span> <span translate>ADD_TO_CART</span></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>
	<div class="row">
		<header class="col-xs-12 text-center">
			<span style="cursor:pointer" ng-click="productDetails(productData)">{{productData.name}}</span>
		</header>
	</div>
</article>