<div>
	<form>
		<div class="input-group">
			<input type="text" class="form-control input-lg" ng-model="searchText" placeholder="{{options.placeholderText}}">
			<div class="input-group-btn">
				<button class="btn btn-default btn-lg" type="submit" ng-click="search(searchText)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				<button class="btn btn-default btn-lg" type="button" ng-click="clear()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
			</div>
		</div>
	</form>
</div>