<div>

	<button type="button" class="btn btn-default" ng-model="selectedOrder" data-onSelect="changeOrder(item)" data-html="1" bs-options="order.value as order.label for order in orders" data-placeholder="{{options.placeholder}}" bs-select>
  		Action <span class="caret"></span>
	</button>

</div>