<div>
	<div class="row">
		<div class="col-sm-12">
			<button  type="button" class="btn btn-default" ng-model="selectedSizing" bs-options="sizing as sizing.name for sizing in data" data-placeholder="{{sizingPlaceholder}}" ng-show="data.length > 1" bs-select>
			</button>		
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>{{selectedSizing.name}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group btn-group-sm" role="group" aria-label="...">
			  <button type="button" class="btn" ng-class="{'btn-default' : selectedSize != size, 'btn-primary' : selectedSize == size}" ng-repeat="size in selectedSizing.sizes" ng-click="selectSize(size)" uib-tooltip="{{size.measure}}{{measureUnit}}">{{size.size}}</button>
			</div>		
		</div>
	</div>
</div>