<div ng-bind="status" style="z-index: 9999;position:fixed; top: 50; left: 150;width:100%" class="alert alert-info" role="alert" ng-show="status != ''"></div>
<div style="z-index: 9999;position:fixed; top: 50; left: 150;width:100%" class="alert alert-danger" role="alert" ng-show="statusError != ''">{{statusError}}</div>