<span>
	<span ng-bind-html="textOut"></span> <span ng-show="text != textOut">...</span>
	<button type="button" class="btn btn-default btn-xs btn-block" ng-show="text != textOut" ng-click="fullMoreAction()">
		{{moreText}} <span class="glyphicon glyphicon-triangle-bottom"></span>
	</button>
	<button type="button" class="btn btn-default btn-xs btn-block" ng-show="text == textOut && text.length > max" ng-click="lessAction()">
		{{lessText}} <span class="glyphicon glyphicon-triangle-top"></span>
	</button>
</span>

