<span>
    <a href="" popover-append-to-body="true" popover-placement="top-left" uib-popover-template="'userPopTemplate'" popover-title="{{ title }}" popover-trigger="'outsideClick'"><strong>{{ data.username }}</strong></a>
    <script type="text/ng-template" id="userPopTemplate">
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <a ng-if="link" ui-sref="userlist({ id : data.id })"><strong>{{ data.username }}</strong></a>
                    <strong ng-if="!link">{{ data.username }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ data.lastname }}, {{ data.name }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-muted" ng-show="data.mobphone">{{ data.mobphone }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-muted" ng-show="data.email">{{ data.email }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-muted" ng-show="data.country">{{ data.country }}</div>
            </div>
        </div>
    </script>
</span>