<div class="page-header">
    <h2><span class="glyphicon glyphicon-user"></span> {{ 'ROLE_LIST' | translate }}</h2>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ui-grid="roleGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav class="grid"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-right">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
                translate>REMOVE_SELECTED</button>
            <button type="button" class="btn btn-default" ng-click="roleCreate()" translate>ADD_ROLE</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">&nbsp;</div>
</div>

<div class="panel panel-default" uib-collapse="!editing">
    <div class="panel-heading">
        <div class="panel-title" translate>ROLE_DETAILS</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="control-label col-sm-2" translate>NAME</label>
                <div class="col-sm-10">
                    <input type="text" id="name" class="form-control" ng-model="editingRole.name" placeholder="{{ 'NAME' | translate }}">
                </div>
            </div>
            <div class="form-group">
                <label for="display_name" class="control-label col-sm-2" translate>DISPLAY_NAME</label>
                <div class="col-sm-10">
                    <input type="text" id="display_name" class="form-control" ng-model="editingRole.display_name" placeholder="{{ 'DISPLAY_NAME' | translate }}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-sm-2" translate>DESCRIPTION</label>
                <div class="col-sm-10">
                    <textarea id="description" class="form-control" ng-model="editingRole.description" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-click="updateRole(editingRole)" translate>SAVE</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default" uib-collapse="!editing">
    <div class="panel-heading">
        <div class="panel-title" translate>
            ROLE_PERMISSIONS
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <doubleselect items="permList" selected-items="permListSelected"></doubleselect>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-default" ng-click="savePerm()" translate>SAVE</button>
            </div>
        </div>
    </div>
</div>