<input type="text" ng-model="user.username" placeholder="User name" />
<input type="password" ng-model="user.password" placeholder="Password" />
<input type="password" ng-model="pass_repeat" placeholder="Password" />
<input type="text" ng-model="user.email" placeholder="Email" />
<input type="text" ng-model="user.name" placeholder="Name" />
<input type="text" ng-model="user.lastname" placeholder="Last name" />
<input type="text" ng-model="user.dnicif" placeholder="DNI/CIF" />
<input type="text" ng-model="user.phone" placeholder="Phone number" />
<input type="text" ng-model="user.mobphone" placeholder="Mobile phone number" />
<input type="text" ng-model="user.fax" placeholder="FAX" />
<input type="text" ng-model="user.country" placeholder="Country" />
<input type="button" ng-click="updateUser()" value="Update" />