<div class="page-header">
	<h2><i class="fa fa-users" aria-hidden="true"></i> {{ 'USER_LIST' | translate }}</h2>
</div>

<div class="row">
	<div class="col-xs-12">
		<div ui-grid="userGridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 text-right">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="gridApi.selection.getSelectedCount() == 0" ng-click="deleteSelected()"
			 translate>REMOVE_SELECTED</button>
			<button type="button" class="btn btn-default" ng-click="userCreate()" translate>ADD_USER</button>
		</div>
	</div>
</div>

<hr>

<div class="panel panel-default" uib-collapse="!currentUser">
	<div class="panel-heading">
		<div class="panel-title"><i class="fa fa-user-circle" aria-hidden="true"></i> <span translate translate-values="{ username : currentUser.username }">USER_DETAILS</span></div>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label" translate>USERNAME</label>
				<div class="col-sm-10">
					<input id="username" type="text" class="form-control" ng-model="currentUser.username" placeholder="{{ 'USERNAME' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label" translate>PASSWORD</label>
				<div class="col-sm-5">
					<input id="password" type="password" class="form-control" ng-model="currentUser.password" placeholder="{{ 'PASSWORD' | translate }}">
				</div>
				<div class="col-sm-5">
					<input id="confirm_password" type="password" class="form-control" ng-model="currentUser.password_confirmation" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-2 control-label" translate>EMAIL</label>
				<div class="col-sm-10">
					<input id="email" type="text" class="form-control" ng-model="currentUser.email" placeholder="{{ 'EMAIL' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label" translate>NAME</label>
				<div class="col-sm-10">
					<input id="name" type="text" class="form-control" ng-model="currentUser.name" placeholder="{{ 'NAME' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="lastname" class="col-sm-2 control-label" translate>LASTNAME</label>
				<div class="col-sm-10">
					<input id="lastname" type="text" class="form-control" ng-model="currentUser.lastname" placeholder="{{ 'LASTNAME' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="dnicif" class="col-sm-2 control-label" translate>DNICIF</label>
				<div class="col-sm-10">
					<input id="dnicif" type="text" class="form-control" ng-model="currentUser.dnicif" placeholder="{{ 'DNICIF' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label" translate>PHONE</label>
				<div class="col-sm-5">
					<input id="phone" type="text" class="form-control" ng-model="currentUser.phone" placeholder="{{ 'PHONE' | translate }}" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
				</div>
				<div class="col-sm-5">
					<input id="mobphone" type="text" class="form-control" ng-model="currentUser.mobphone" placeholder="{{ 'MOB_PHONE' | translate }}"
					 ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
				</div>
			</div>
			<div class="form-group">
				<label for="fax" class="col-sm-2 control-label" translate>FAX</label>
				<div class="col-sm-10">
					<input id="fax" type="text" class="form-control" ng-model="currentUser.fax" placeholder="{{ 'FAX' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="country" class="col-sm-2 control-label" translate>COUNTRY</label>
				<div class="col-sm-10">
					<input id="country" type="text" class="form-control" ng-model="currentUser.country" placeholder="{{ 'COUNTRY' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" ng-click="saveUser(currentUser)" translate>SAVE</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="panel panel-default" uib-collapse="!currentUser || !currentUser.id">
	<div class="panel-heading">
		<div class="panel-title" translate>USER_ROLES</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<doubleselect items="roleList" selected-items="roleListSelected"></doubleselect>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<button type="button" class="btn btn-default" ng-click="saveRoles()" translate>SAVE</button>
			</div>
		</div>
	</div>
</div>

<div ng-if="currentUser && currentUser.id">
	<div class="page-header">
		<h2><i class="fa fa-address-book-o" aria-hidden="true"></i> {{ 'USER_ADDRESSES' | translate }}</h2>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div ui-grid="addressGridOptions" ui-grid-selection ui-grid-edit ui-grid-cellnav class="grid"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-right">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-disabled="gridApi2.selection.getSelectedCount() == 0" ng-click="deleteSelectedAddresses()"
				 translate>REMOVE_SELECTED</button>
				<button type="button" class="btn btn-default" ng-click="addressCreate()" translate>ADD_ADDRESS</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>

	<div uib-collapse="!currentAddress">

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i> <span translate>ADDRESS_DETAILS</span>
				</div>
			</div>
			<div class="panel-body">
				<form>
					<div class="row">
						<div class="col-sm-6">
							<label for="address_name" class="control-label" translate>NAME</label>
							<input id="address_name" type="text" class="form-control" ng-model="currentAddress.name" placeholder="{{ 'NAME' | translate }}">
						</div>
						<div class="col-sm-6">
							<label for="address_lastname" class="control-label" translate>LASTNAME</label>
							<input id="address_lastname" type="text" class="form-control" ng-model="currentAddress.lastname" placeholder="{{ 'LASTNAME' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="address_dnicif" class="control-label" translate>DNICIF</label>
							<input id="address_dnicif" type="text" class="form-control" ng-model="currentAddress.dnicif" placeholder="{{ 'DNICIF' | translate }}">
						</div>
						<div class="col-sm-6">
							<label for="address_country" class="control-label" translate>COUNTRY</label>
							<input id="address_country" type="text" class="form-control" ng-model="currentAddress.country" placeholder="{{ 'COUNTRY' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="address_province" class="control-label" translate>PROVINCE</label>
							<input id="address_province" type="text" class="form-control" ng-model="currentAddress.province" placeholder="{{ 'PROVINCE' | translate }}">
						</div>
						<div class="col-sm-6">
							<label for="address_city" class="control-label" translate>CITY</label>
							<input id="address_city" type="text" class="form-control" ng-model="currentAddress.city" placeholder="{{ 'CITY' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="address_zip_code" class="control-label" translate>ZIP_CODE</label>
							<input id="address_zip_code" type="text" class="form-control" ng-model="currentAddress.zip_code" placeholder="{{ 'ZIP_CODE' | translate }}">
						</div>
						<div class="col-sm-6">
							<label for="address_address" class="control-label" translate>ADDRESS</label>
							<input id="address_address" type="text" class="form-control" ng-model="currentAddress.address" placeholder="{{ 'ADDRESS' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label for="address_phone" class="control-label" translate>PHONE</label>
							<input id="address_phone" type="text" class="form-control" ng-model="currentAddress.phone" placeholder="{{ 'PHONE' | translate }}">
						</div>
						<div class="col-sm-6">
							<label for="address_mob_phone" class="control-label" translate>MOB_PHONE</label>
							<input id="address_mob_phone" type="text" class="form-control" ng-model="currentAddress.mob_phone" placeholder="{{ 'MOB_PHONE' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label for="address_description" class="control-label" translate>DESCRIPTION</label>
							<input id="address_description" type="text" class="form-control" ng-model="currentAddress.description" placeholder="{{ 'DESCRIPTION' | translate }}">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">&nbsp;</div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-right">
							<button class="btn btn-primary" type="button" ng-click="saveAddress(currentAddress)" translate>SAVE</button>
						</div>
					</div>
			</div>
			</form>
		</div>
	</div>
</div>

</div>