<div class="page-header">
    <h2><span class="glyphicon glyphicon-list-alt"></span> {{ 'TICKETS_CONFIG' | translate }}</h2>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title" translate>
            STATUS_NAMES
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p class="form-text text-muted" translate>TICKET_STATUS_INFO</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <label for="status_text_0" class="control-label" translate>STATUS_TEXT_0</label>
                <input type="text" class="form-control" id="status_text_0" ng-model="config.ticket_status_text_0">
            </div>
            <div class="col-md-4 col-sm-6">
                <label for="status_text_1" class="control-label" translate>STATUS_TEXT_1</label>
                <input type="text" class="form-control" id="status_text_1" ng-model="config.ticket_status_text_1">
            </div>
            <div class="col-md-4 col-sm-6">
                <label for="status_text_2" class="control-label" translate>STATUS_TEXT_2</label>
                <input type="text" class="form-control" id="status_text_2" ng-model="config.ticket_status_text_2">
            </div>
            <div class="col-md-4 col-sm-6">
                <label for="status_text_3" class="control-label" translate>STATUS_TEXT_3</label>
                <input type="text" class="form-control" id="status_text_3" ng-model="config.ticket_status_text_3">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-primary" ng-click="saveConfig()" translate>SAVE</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title" translate>TICKET_CATEGORIES</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div ui-grid="categoriesGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-disabled="gridApiCategories.selection.getSelectedCount() == 0" ng-click="deleteSelectedCategories()"
                                translate>REMOVE_SELECTED</button>
                            <button type="button" class="btn btn-default" ng-click="categoryCreate()" translate>NEW_CATEGORY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title" translate>TICKET_PRIORITIES</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div ui-grid="prioritiesGridOptions" class="grid" ui-grid-selection ui-grid-edit ui-grid-cellnav ui-grid-pagination></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-disabled="gridApiPriorities.selection.getSelectedCount() == 0" ng-click="deleteSelectedPriorities()"
                                translate>REMOVE_SELECTED</button>
                            <button type="button" class="btn btn-default" ng-click="priorityCreate()" translate>NEW_PRIORITY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>