<div class="page-header">
	<h2><span class="glyphicon glyphicon-list-alt"></span> {{ 'TICKET_LIST' | translate }}</h2>
</div>
<div class="row">
	<div class="col-xs-12">
		<div ui-grid="ticketGridOptions" ui-grid-selection ui-grid-pagination class="grid"></div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="row" uib-collapse="!currentTicket">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title" translate translate-values="{ id : currentTicket.id }">CURRENT_TICKET_TITLE</h5>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>