<div class="row">
	<div class="col-md-8">
		<cart total-text="{{ 'TOTAL' | translate }}" empty-text="{{ 'EMPTY_CART' | translate }}" details-fn="cartDetails"></cart>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6"><h4 style="text-transform: uppercase;" translate>TOTAL</h4></div>
					<div class="col-xs-6 text-right"><h4 class="text-right">{{ cart.priceTotal | currency }}</h4></div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button ng-disabled="!cart.products.length" class="btn btn-default btn-block btn-lg btn-primary" ui-sref="checkout">{{ 'CHECK_OUT' | translate }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
