<div class="row">
	<div class="col-md-9">
		
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> <span translate>BI_N_SI_ADDRESS</span></h3>
		  </div>
		  <div class="panel-body">
		    <div class="row">
				<div class="col-md-6">
					<div class="row"><div class="col-xs-12">
						<h5 style="text-transform: uppercase;" translate>BILLING_ADDRESS</h5>
					</div></div>
					<address-manager data="addresses" selected="bAddress" translations="baTranslations"></address-manager>
				</div>
				<div class="col-md-6">
					<div class="row"><div class="col-xs-12">
						<h5 style="text-transform: uppercase;" translate>SHIPPING_ADDRESS</h5>
					</div></div>
					<address-manager data="addresses" selected="sAddress" translations="saTranslations"></address-manager>
				</div>
			</div>
		  </div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-road"></span> <span translate>SHIPPING_METHOD</span></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						<select class="form-control" ng-model="shipment" ng-options="shipment.name for shipment in shipments track by shipment.id"></select>
					</div>
					<div class="col-sm-7">
						<div class="row">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-xs-12"><strong>{{ shipment.name }}</strong></div>
								</div>
								<div class="row">
									<div class="col-xs-12">{{ shipment.fee | currency }}</div>
								</div>
								<div class="row">
									<div class="col-xs-12">{{ shipment.description }}</div>
								</div>
							</div>
							<div class="col-sm-6">
								<img class="img-responsive" laravel-src="{{ shipment.image }}">
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-piggy-bank"></span> <span translate>PAYMENT_METHOD</span></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						<select class="form-control" ng-model="payment">
							<option value="1" label="PayPal">PayPal</option>
							<option value="2" label="{{ 'CREDIT_CARD' | translate }}" translate>CREDIT_CARD</option>
							<option value="3" label="{{ 'BANK_TRANSFER' | translate }}" translate>BANK_TRANSFER</option>
							<option value="4" label="{{ 'CASH_ON_DELIVERY' | translate }}" translate>CASH_ON_DELIVERY</option>
						</select>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-8"><strong translate>PRODUCTS</strong></div>
					<div class="col-xs-4">{{ cart.priceTotal | currency }}</div>
				</div>
				<div class="row" uib-collapse="!shipment.fee">
					<div class="col-xs-8"><strong translate>SHIPPING_METHOD</strong></div>
					<div class="col-xs-4">{{ shipment.fee | currency }}</div>
				</div>
				<div class="row" uib-collapse="!getPaymentCost()">
					<div class="col-xs-8"><strong translate>PAYMENT_METHOD</strong></div>
					<div class="col-xs-4">{{ getPaymentCost() | currency }}</div>
				</div>
				<div class="row">
					<div class="col-xs-8"><strong style="text-transform:uppercase;" translate>TOTAL</strong></div>
					<div class="col-xs-4"><strong>{{ getPriceTotal() | currency }}</strong></div>
				</div>
				<div class="row">
					<div class="col-xs-12">&nbsp;</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button ng-disabled="0 && finishing" class="btn btn-block btn-primary" ng-click="finish()" type="button" translate>PAY_N_FINISH</button>
					</div>
				</div>
			</div>
		</div>


	</div>	
</div>
