<div ng-show="order" class="hidden-print">
	<div class="page-header">
		<h3><span class="glyphicon glyphicon-file"></span> <span translate translate-values="{ orderid : order.id }">ORDER_DETAILS</span>
			<small>({{ createDate | date }})</small></h3>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h4 translate>SHIPPING_ADDRESS</h4>
			<address>
				<strong>{{ order.sa_lastname }}, {{ order.sa_name }}</strong><br> {{ order.sa_address }}<br> {{ order.sa_city }}, {{
				order.sa_province }}, <span class="text-uppercase">{{ order.sa_country }}</span> {{ order.sa_zip_code }}<br>
				<abbr title="{{ 'PHONE' | translate }}" translate>PHONE_ABBR</abbr> {{ order.sa_mob_phone }}
			</address>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-12">
					<h4 translate>BILLING_ADDRESS</h4>
					<address>
						<strong>{{ order.ba_lastname }}, {{ order.ba_name }}</strong><br> {{ order.ba_address }}<br> {{ order.ba_city }}, {{
						order.ba_province }}, <span class="text-uppercase">{{ order.ba_country }}</span> {{ order.ba_zip_code }}<br>
						<abbr title="{{ 'PHONE' | translate }}" translate>PHONE_ABBR</abbr> {{ order.ba_mob_phone }}
					</address>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					{{ 'PAYMENT_METHOD' | translate }} : {{ order.p_name }}
				</div>
				<div ng-if="order.p_id != 4 && order.status.id < paymentFinishedSteps.payment_finished_step" class="col-sm-5">
					<button type="button" class="btn btn-warning" ng-click="finishPayment()" translate>FINISH_PAYMENT</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h4>{{ 'ORDER_STATUS' | translate }} <small>({{ order.status.name }})</small></h4>
			<div class="progress visible-sm visible-xs">
				<div class="progress-bar progress-bar-striped" ng-class="{ active : order.status.id != order.status_steps }" role="progressbar"
				 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ order.status.id * 100 / order.status_steps }}%;">
					{{ order.status.name }}
				</div>
			</div>
			<process-steps class="hidden-sm hidden-xs" steps="statusList" current-step="order.status.id"></process-steps>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{{ 'LAST_UPDATE' | translate }} : {{ updateDate | date }}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">&nbsp;</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default btn-block" ng-click="showInvoice = !showInvoice">
			<span ng-show="!showInvoice" class="glyphicon glyphicon-triangle-bottom"></span>
			<span ng-show="showInvoice" class="glyphicon glyphicon-triangle-top"></span>
			<span ng-if="isInvoiceCreated()">{{ !showInvoice ? 'SHOW_INVOICE' : 'HIDE_INVOICE' | translate }}</span>
			<span ng-if="!isInvoiceCreated()">{{ !showInvoice ? 'SHOW_ORDER' : 'HIDE_ORDER' | translate }}</span>
			<span ng-show="!showInvoice" class="glyphicon glyphicon-triangle-bottom"></span>
			<span ng-show="showInvoice" class="glyphicon glyphicon-triangle-top"></span>
		</button>
		</div>
	</div>

</div>

<div uib-collapse="!showInvoice" class="panel panel-default">
	<div class="panel-body">
		<invoice order="order" company="company"></invoice>

	</div>
</div>