<div class="page-header">
  <h3><span class="glyphicon glyphicon-list-alt"></span> <span translate>MY_ORDERS</span></h3>
</div>

<div uib-collapse="!orders" class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th></th>
				<th translate>FULL_NAME</th>
				<th translate>STATUS</th>
				<th translate>TOTAL_PRICE</th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="order in orders">
			
				<td><a ui-sref="p_orderdetails({ id : order.id })">#{{ order.id }}</a></td>
				<td><a ui-sref="p_orderdetails({ id : order.id })">{{ order.ba_lastname }}, {{ order.ba_name }}</a></td>
				<td><a ui-sref="p_orderdetails({ id : order.id })">{{ order.status.name }}</a></td>
				<td><a ui-sref="p_orderdetails({ id : order.id })">{{ order.price_total_with_fees | currency }}</a></td>
			
			</tr>
			
		</tbody>
	</table>
</div>