<div class="page-header">
    <h3><span class="glyphicon glyphicon-list-alt"></span> <span translate translate-values="{ ticketid : ticket.id }">TICKET_DETAILS</span></h3>
</div>

<div uib-collapse="!ticket">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right" ng-show="!replyOpened">
                <button class="btn btn-default" type="button" ng-click="cancelTicket(ticket)" ng-if="ticket.status.id != 3 && ticket.status.id != 0 && !admin"
                    translate>CANCEL_TICKET</button>
                <button class="btn btn-default" type="button" ng-click="deleteTicket(ticket)" ng-if="admin" translate>DELETE_TICKET</button>
                <button class="btn btn-success" type="button" ng-click="assignTicket(ticket, auth.getUser().id)" ng-if="admin && (!ticket.agent || ticket.agent.id != auth.getUser().id)"
                    translate>ASSIGN_TO_ME</button>
                <div class="btn-group" ng-if="admin" uib-dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" uib-dropdown-toggle>
                        <span translate>CHANGE_STATUS</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li role="menuitem"><a href="" ng-click="changeStatus(0)" translate>CANCELLED</a></li>
                        <li role="menuitem"><a href="" ng-click="changeStatus(1)" translate>WAITING</a></li>
                        <li role="menuitem"><a href="" ng-click="changeStatus(2)" translate>ANSWERED</a></li>
                        <li role="menuitem"><a href="" ng-click="changeStatus(3)" translate>SOLVED</a></li>
                    </ul>
                </div>
                <button class="btn btn-primary" type="button" ng-click="openReply()" ng-if="ticket.status.id != 3 && ticket.status.id != 0 && (auth.getUser().id == ticket.user.id || auth.getUser().id == ticket.agent.id)"
                    translate>REPLY</button>
            </div>
            <div class="row" ng-show="!replyOpened">
                <div class="col-xs-12">&nbsp;</div>
            </div>
            <div class="panel panel-primary" uib-collapse="!replyOpened">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">{{ 'TICKET_REPLY' | translate }}</div>
                        <div class="col-xs-6 text-right">
                            <a href="" ng-click="openReply(false)"><span class="glyphicon glyphicon-remove" style="color:white"></span></a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <textarea class="form-control" rows="10" ng-model="message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn btn-primary" ng-click="sendReply(message)" translate>Reply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <div class="row">
                    <div class="col-md-3">
                        <user-details link="{{ admin }}" data="ticket.user" title="{{ 'USER_DETAILS' | translate }}">
                        </user-details>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-7"><strong>{{ ticket.subject }}</strong></div>
                            <div class="col-sm-5 text-right"><small class="text-muted">{{ ticket.created_at }}</small></div>
                        </div>
                    </div>
                </div>

            </h5>
        </div>
        <div class="row panel-body">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-xs-12 text-muted"><span translate>STATUS</span> : 
                        <kbd class="text-muted" ng-class="{ 'bg-danger' : ticket.status.id == 0, 'bg-warning' : ticket.status.id == 1,'bg-primary' : ticket.status.id == 2, 'bg-success' : ticket.status.id == 3 }">{{ ticket.status.name }}</kbd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-muted"><span translate>CATEGORY</span> : {{ ticket.ticket_category.name }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-muted"><span translate>PRIORITY</span> : {{ ticket.ticket_priority.name }}</div>
                </div>
                <div class="row" ng-if="ticket.agent">
                    <div class="col-xs-12 text-muted"><span translate>ASSIGNED_TO</span> : {{ ticket.agent.name }}</div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">{{ ticket.message }}</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="answer in ticket.ticket_answers" class="panel" ng-class="{ 'panel-success' : answer.user.id == ticket.agent.id, 'panel-danger' : answer.user.id != ticket.agent.id }">
        <div class="panel-heading">
            <h5 class="panel-title">
                <div class="row">
                    <div class="col-md-3">
                        <user-details link="{{ admin }}" data="answer.user" title="{{ 'USER_DETAILS' | translate }}">
                            </user-details>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-offset-7 col-sm-5 text-right"><small class="text-muted">{{ answer.created_at }}</small></div>
                        </div>
                    </div>
                </div>

            </h5>
        </div>
        <div class="row panel-body">
            <div class="col-md-3 text-muted">
                <div class="row">
                    <div class="col-xs-12">
                        <small ng-if="answer.user.id == ticket.agent.id" translate>AGENT</small>
                        <small ng-if="answer.user.id == ticket.user.id" translate>USER</small>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-12">{{ answer.message }}</div>
                </div>
            </div>
        </div>
    </div>

</div>