<div class="page-header">
	<h3><span class="glyphicon glyphicon-list-alt"></span> <span translate>MY_TICKETS</span></h3>
</div>

<div class="row" uib-collapse="ticket">
	<div class="col-xs-12 text-right">
		<button type="button" ng-click="openTicket()" class="btn btn-primary" translate>NEW_TICKET</button>
	</div>
</div>

<div uib-collapse="!ticket" class="row">
	<div class="col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<h5 class="panel-title" translate>CREATE_TICKET</h5>
					</div>
					<div class="col-xs-6 text-right">
						<a href="" ng-click="openTicket(false)"><span class="glyphicon glyphicon-remove" style="color:white"></span></a>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="subject" translate>SUBJECT</label>
							<input type="text" id="subject" class="form-control" ng-model="ticket.subject" placeholder="{{ 'SUBJECT' | translate }}">
						</div>
						<div class="form-group">
							<label for="category" translate>CATEGORY</label>
							<select id="category" class="form-control" ng-options="category.id as category.name for category in categories track by category.id"
							 ng-model="ticket.ticket_category_id"></select>
						</div>
						<div class="form-group">
							<label for="priority" translate>PRIORITY</label>
							<select id="priority" class="form-control" ng-options="priority.id as priority.name for priority in priorities track by priority.id"
							 ng-model="ticket.ticket_priority_id"></select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="subject" translate>MESSAGE</label>
							<textarea class="form-control" rows="8" ng-model="ticket.message"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-right">
						<button type="button" class="btn btn-primary" ng-click="sendTicket(ticket)" translate>SEND_TICKET</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div uib-collapse="!tickets" class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th></th>
						<th translate>SUBJECT</th>
						<th translate>STATUS</th>
						<th translate>DATE</th>
						<th translate>CATEGORY</th>
						<th translate>PRIORITY</th>
					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="ticket in tickets">

						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">#{{ ticket.id }}</a></td>
						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">{{ ticket.subject }}</a></td>
						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">{{ ticket.status.name }}</a></td>
						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">{{ ticket.created_at }}</a></td>
						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">{{ ticket.ticket_category.name }}</a></td>
						<td><a ui-sref="p_ticketdetails({ id : ticket.id })">{{ ticket.ticket_priority.name }}</a></td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>