<div class="row">
	<div class="col-md-6">
		<!--<div class="row">
			<img class="img-responsive img-thumbnail" laravel-src="{{catalog.currentProduct.images[0].url}}">
		</div>
		<div class="row">
			<img ng-repeat="image in catalog.currentProduct.images" style="max-width:10%" class="img-responsive img-thumbnail" laravel-src="{{image.small_url}}">
		</div>
		-->
		<image-show style="margin:auto" data="catalog.currentProduct.images"></image-show>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-12">
				<span class="lead">{{catalog.currentProduct.name}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-xs-12" ng-show="catalog.currentProduct.discounts.length">
						<span class="lead">
							{{catalog.currentProduct.price_total | currency}}
						</span>
						<span class="lead">
							<small><s class="text-muted" ng-if="catalog.currentProduct.discounts.length">{{catalog.currentProduct.price_with_taxes | currency}}</s></small>
							<span ng-if="!catalog.currentProduct.discounts.length">{{catalog.currentProduct.price_with_taxes | currency }}</span>
						</span>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-md-12">
						<small>({{catalog.currentProduct.price_with_discounts | currency }} <span translate>WITHOUT_TAXES</span>)</small>
					</div>
				</div>-->
			</div>
		</div>
		<div class="row" ng-show="catalog.currentProduct.colors.length">
			<div class="col-xs-12">
				<hr>
				<color-list data="catalog.currentProduct.colors" selected="currentColor"></color-list>
			</div>
		</div>
		<div class="row" ng-show="catalog.currentProduct.sizings.length">
			<div class="col-xs-12">
				<hr>
				<sizing-list data="catalog.currentProduct.sizings" selected-sizing="currentSizing" selected-size="currentSize" measure-unit="cm"
				 sizing-placeholder="{{ 'SELECT_SIZING' | translate }}"></sizing-list>
			</div>
		</div>
		<div class="row">
			<hr>
			<div class="col-sm-6">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="addToCart()" translate>ADD_TO_CART</button>
			</div>
			<div class="col-sm-6">
				<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="buy()" translate>BUY</button>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>


<uib-tabset active="activeTab">
	<uib-tab index="0" heading="{{ 'DESCRIPTION' | translate }}">
		<div ng-bind-html="catalog.currentProduct.description"></div>
	</uib-tab>
	<uib-tab index="1">
		<uib-tab-heading>
			<span translate>OPINIONS</span> <span class="badge">{{catalog.opinions.total}}</span>
		</uib-tab-heading>

		<div class="row">
			<div class="col-xs-12">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-default btn-block btn-lg" ng-hide="newOpinion" ng-click="opine()"><span translate>OPINE</span> <span class="glyphicon glyphicon-pencil"></span></button>
			</div>
		</div>
		<span id="opinionEdit"></span>
		<div uib-collapse="!newOpinion" style="position:relative">
			<span ng-show="newOpinion" ng-click="cancelOpinion()" class="glyphicon glyphicon-remove" style="position:absolute; top:5px; right:5px; opacity:0.8; cursor: pointer; z-index:1"></span>
			<div class="row">
				<div class="col-md-12 form-group">
					<label for="rating" translate>RATING</label>
					<p class="form-control-static"><span id="rating" uib-rating ng-model="newOpinion.score" max="5" read-only="0" titles="['2','4','6','8','10']" aria-labelledby="default-rating"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 form-group">
					<label for="comments" translate>COMMENTS</label>
					<textarea id="comments" class="form-control" style="resize:none;" ng-model="newOpinion.comments"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group has-success">
					<label class="control-label" for="positive" translate>POSITIVE</label>
					<textarea id="positive" class="form-control" style="resize:none;" ng-model="newOpinion.positive"></textarea>
				</div>
				<div class="col-md-6 form-group has-warning">
					<label class="control-label" for="negative" translate>NEGATIVE</label>
					<textarea id="negative" class="form-control" style="resize:none;" ng-model="newOpinion.negative"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<span translate>RECOMMENDED</span>
					<span ng-if="newOpinion.recommended == 1">
							<kbd><button type="button" class="btn btn-link" ng-click="setRecommended(1)" translate>YES</button></kbd>
							<button type="button" class="btn btn-link" ng-click="setRecommended(0)" translate>NO</button>
						</span>
					<span ng-if="newOpinion.recommended == 0">
							<button type="button" class="btn btn-link" ng-click="setRecommended(1)" translate>YES</button>
							<kbd><button type="button" class="btn btn-link" ng-click="setRecommended(0)" translate>NO</button></kbd>
						</span>
					<span ng-if="newOpinion.recommended == null">
							<button type="button" class="btn btn-link" ng-click="setRecommended(1)" translate>YES</button>
							<button type="button" class="btn btn-link" ng-click="setRecommended(0)" translate>NO</button>
						</span>
				</div>
			</div>

			<button ng-click="saveOpinion(newOpinion)" class="btn btn-default" translate>SEND_OPINION</button>


		</div>
		<div class="row">
			<div class="col-xs-12">&nbsp;</div>
		</div>
		<div uib-collapse="!catalog.opinions.data.length">
			<div class="row">
				<div class="col-md-12">
					<selectorder class="pull-right" options="selectOrderOptions"></selectorder>
				</div>
			</div>
			<hr>
			<div class="row" ng-repeat="opinion in catalog.opinions.data">
				<div class="col-md-12">
					<opinion data="opinion" edit-fn="editOpinion" logged-user="currentUser" upvote-fn="upvoteOpinion" downvote-fn="downvoteOpinion"></opinion>
					<hr>
				</div>
			</div>

			<page-control class="text-center" options="pageOptions"></page-control>
		</div>
	</uib-tab>
	<uib-tab index="2" heading="{{ 'MESSAGES' | translate }}">
		Empty
	</uib-tab>
</uib-tabset>

<div class="row">
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="row" ng-show="related.length">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title" translate>RELATED_PRODUCTS</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div ng-repeat="product in related">
						<product class="col-xs-12 col-sm-6 col-md-4 productItem" product-data="product" product-details-fn="catalog.showProduct"
						 add-to-cart-fn="addToCart"></product>
						<!-- Avoid product going to the row above -->
						<div class="clearfix visible-md visible-lg" ng-if="($index + 1) % 3 == 0"></div>
						<div class="clearfix visible-sm" ng-if="($index + 1) % 2 == 0"></div>
						<div class="clearfix visible-xs"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>