<h3 id="top" translate>PRODUCTS</h3>
<p ng-show="catalog.from && catalog.to && catalog.total && catalog.searchText" translate translate-values="{ from : catalog.from, to : catalog.to, total : catalog.total, searchText : catalog.searchText, category : catalog.selectedCategory.name ? catalog.selectedCategory.name : translated.all_products }">
	PRODUCT_SEARCH_STATUS_1
</p>
<p ng-show="catalog.from && catalog.to && catalog.total && !catalog.searchText" translate translate-values="{ from : catalog.from, to : catalog.to, total : catalog.total, category : catalog.selectedCategory.name ? catalog.selectedCategory.name : translated.all_products }">
	PRODUCT_SEARCH_STATUS_2
</p>
<p ng-show="!catalog.from && !catalog.to && !catalog.total && catalog.searchText" translate translate-values="{ searchText : catalog.searchText, category : catalog.selectedCategory.name ? catalog.selectedCategory.name : translated.all_products }">
	PRODUCT_SEARCH_STATUS_3
</p>
<p ng-show="!catalog.from && !catalog.to && !catalog.total && !catalog.searchText" translate translate-values="{ category : catalog.selectedCategory.name ? catalog.selectedCategory.name : translated.all_products }">
	PRODUCT_SEARCH_STATUS_3
</p>
<div class="row">
	<searchkeywords class="col-xs-12" options="searchKeywordOptions"></searchkeywords>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<selectorder class="pull-right" options="selectOrderOptions" selected-order="selectedOrder"></selectorder>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="row">
			<div class="col-xs-12 panel panel-default">
				<div class="panel-body">
					<categoryfilter options="categoryOptions"></categoryfilter>
				</div>
			</div>
		</div>
		<div class="row">
			<hr>
			<div class="col-xs-12">
				<tagfilter tags="catalog.selectedCategory.tagged" selected="selectedTags"></tagfilter>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div ng-repeat="product in catalog.getData()">
				<product class="col-xs-12 col-sm-6 col-md-4 productItem" product-data="product"
				product-details-fn="catalog.showProduct" add-to-cart-fn="addToCart"></product>
				<!-- Avoid product going to the row above -->
				<div class="clearfix visible-md visible-lg" ng-if="($index + 1) % 3 == 0"></div>
				<div class="clearfix visible-sm" ng-if="($index + 1) % 2 == 0"></div>
				<div class="clearfix visible-xs"></div>
			</div>
			
		</div>
	</div>
</div>
<page-control class="text-center" options="pageOptions"></page-control>