<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well">
            <h3 translate>CHANGE_PASSWORD</h3>
            <form>
                <div class="row">
                    <div class="col-xs-12 form-text text-muted" translate>CHANGE_PASSWORD_INFO</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="{{ 'CURRENT_PASSWORD' | translate }}" ng-model="user.current_password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-model="user.password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" ng-model="user.password_confirmation"
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary pull-right" ng-click="changePassword()" translate>CHANGE_PASSWORD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>