<div class="page-header">
    <h3><span class="glyphicon glyphicon-user"></span> <span translate>EDIT_PROFILE</span></h3>
</div>

<form class="form-horizontal">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label" translate>USERNAME</label>
        <div class="col-sm-10">
            <input id="username" type="text" class="form-control" ng-model="currentUser.username" placeholder="{{ 'USERNAME' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label" translate>PASSWORD</label>
        <div class="col-sm-5">
            <input id="password" type="password" class="form-control" ng-model="currentUser.password" placeholder="{{ 'PASSWORD' | translate }}">
        </div>
        <div class="col-sm-5">
            <input id="confirm_password" type="password" class="form-control" ng-model="currentUser.password_confirmation" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label" translate>EMAIL</label>
        <div class="col-sm-10">
            <input id="email" type="text" class="form-control" ng-model="currentUser.email" placeholder="{{ 'EMAIL' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate>NAME</label>
        <div class="col-sm-10">
            <input id="name" type="text" class="form-control" ng-model="currentUser.name" placeholder="{{ 'NAME' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label" translate>LASTNAME</label>
        <div class="col-sm-10">
            <input id="lastname" type="text" class="form-control" ng-model="currentUser.lastname" placeholder="{{ 'LASTNAME' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="dnicif" class="col-sm-2 control-label" translate>DNICIF</label>
        <div class="col-sm-10">
            <input id="dnicif" type="text" class="form-control" ng-model="currentUser.dnicif" placeholder="{{ 'DNICIF' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label" translate>PHONE</label>
        <div class="col-sm-5">
            <input id="phone" type="text" class="form-control" ng-model="currentUser.phone" placeholder="{{ 'PHONE' | translate }}" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
        </div>
        <div class="col-sm-5">
            <input id="mobphone" type="text" class="form-control" ng-model="currentUser.mobphone" placeholder="{{ 'MOB_PHONE' | translate }}" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
        </div>
    </div>
    <div class="form-group">
        <label for="fax" class="col-sm-2 control-label" translate>FAX</label>
        <div class="col-sm-10">
            <input id="fax" type="text" class="form-control" ng-model="currentUser.fax" placeholder="{{ 'FAX' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-sm-2 control-label" translate>COUNTRY</label>
        <div class="col-sm-10">
            <input id="country" type="text" class="form-control" ng-model="currentUser.country" placeholder="{{ 'COUNTRY' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 text-warning" translate>
            CURRENT_PASSWORD_REQUIREMENT
        </div>
    </div>
    <div class="form-group">
        <label for="current_password" class="col-sm-2 control-label" translate>CURRENT_PASSWORD</label>
        <div class="col-sm-5">
            <input id="current_password" type="password" class="form-control" ng-model="currentUser.current_password" placeholder="{{ 'CURRENT_PASSWORD' | translate }}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" ng-click="updateUserProfile()" translate>UPDATE</button>
        </div>
    </div>
</form>