<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="well">
            <h3 translate>LOGIN</h3>
                <form>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" ng-model="email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" ng-model="password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-primary pull-right" ng-click="login(email,password)" translate>LOGIN</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12">
                            <hr>
                            <p>
                                <span translate translate-values="{ shopname : companyData.company_name }">NEW_TO</span>
                                <a ui-sref="register" translate>START_HERE</a>
                            </p>
                    </div>
                </div>
        </div>
    </div>
</div>
