<div class="page-header">
    <h3><span class="glyphicon glyphicon-user"></span> <span translate>REGISTER</span></h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title" translate>
            GENERAL_DATA
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="email" translate>EMAIL</label>
                <input type="email" id="email" class="form-control" ng-model="newUser.email" ng-required="true">
            </div>
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="username" translate>USERNAME</label>
                <input type="text" id="username" class="form-control" ng-model="newUser.username">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="password" translate>PASSWORD</label>
                <input type="password" id="password" class="form-control" ng-model="newUser.password">
            </div>
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="confirm_password" translate>CONFIRM_PASSWORD</label>
                <input type="password" id="confirm_password" class="form-control" ng-model="newUser.password_confirmation">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title" translate>
            DETAILED_INFO
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="name" translate>NAME</label>
                <input type="text" id="name" class="form-control" ng-model="newUser.name">
            </div>
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="lastname" translate>LASTNAME</label>
                <input type="text" id="lastname" class="form-control" ng-model="newUser.lastname">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="dnicif" translate>DNICIF</label>
                <input type="text" id="dnicif" class="form-control" ng-model="newUser.dnicif">
            </div>
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="phone" translate>PHONE</label>
                <input type="text" id="phone" class="form-control" ng-model="newUser.phone" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="mobphone" translate>MOB_PHONE</label>
                <input type="text" id="mobphone" class="form-control" ng-model="newUser.mobphone" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
            </div>
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="fax" translate>FAX</label>
                <input type="text" id="fax" class="form-control" ng-model="newUser.fax" ng-pattern="/^(\+[0-9]{2} ?)?[6789][0-9]{8}[0-9]*$/">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" bs-has>
                <label class="control-label" for="country" translate>COUNTRY</label>
                <input type="text" id="country" class="form-control" ng-model="newUser.country">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div vc-recaptcha class="pull-right" key="'6LfvHCoUAAAAAN9VOw31y7tSrPgoNsR16xbyzmNv'" on-create="setCaptchaWidgetId(widgetId)" ng-model="recaptchaResponse"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="register(newUser)" translate>REGISTER</button>
    </div>
</div>