<nav id="nav" class="navbar navbar-default navbar-fixed-top" bs-navbar>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home" class="navbar-left"><img alt="Brand" class="brand-image pull-left" laravel-src="{{companyData.company_logo}}"></a>
      <a class="navbar-brand hidden-xs" ui-sref="home">
        {{ companyData.company_name }}
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-if="auth.userIsAdmin()"><a ui-sref="admin" translate>ADMIN_CPANEL</a></li>
        <li data-match-route="/$"><a ui-sref="home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go to <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li data-match-route="/product/list"><a ui-sref="p_productlist">Products</a></li>
            <li data-match-route="/ticket/list"><a ui-sref="p_ticketlist">Tickets</a></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-hide="auth.authenticated()" ui-sref="auth" translate>LOG_IN</a></li>
        <li ng-show="auth.authenticated()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ auth.getUser().username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="profileedit" translate>MY_PROFILE</a></li>
            <li><a ui-sref="p_orderlist" translate>MY_ORDERS</a></li>
            <li><a href="" ng-click="auth.logout()" translate>LOG_OUT</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        <li><a ui-sref="cart"><span style="font-size:20px" class="glyphicon glyphicon-shopping-cart"></span> <span style="background-color: red" class="badge badge-important">{{ cart.products.length }}</span></a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!--Carousel-->
<div class="hidden-print" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
  <div uib-slide ng-repeat="slide in slides track by slide.order" index="$index">
    <a href="{{slide.link}}">
      <img style="width:100%" laravel-src="{{slide.image_url}}">
      <div class="carousel-caption">
        <h4 class="text-center">{{ slide.title }}</h4>
        <span ng-bind-html="slide.text | unsafe" class="text-center"></span>
      </div>
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">&nbsp;</div>
  </div>
  <toaster-container toaster-options="{'limit': 5, 'position-class' : 'text-left toast-top-right-margin'}"></toaster-container>
  <div data-ui-view></div>
</div>

<div class="hidden-print" ng-include="'app/views/templates/footer.html'"></div>