<div class="row">
    <div class="col-lg-3" ng-if="!auth.authenticated()">
        <div class="well">
            <h2 translate>WELCOME</h2>
            <p translate>LOGIN_MESSAGE</p>
            <hr>
            <p>
                <span translate translate-values="{ shopname : companyData.company_name }">NEW_TO</span>
                <a ui-sref="register" translate>START_HERE</a>
            </p>
        </div>
    </div>

</div>